div.form-element
  label(for="accessibilityAPI") accessibilityAPI
  input(type="text", id="accessibilityAPI", name="accessibilityAPI", placeholder="accessibilityAPI")
  div.description Indicates that the resource is compatible with the referenced accessibility API (&lt;a href=&quot;http:&#x2F;&#x2F;www.w3.org&#x2F;wiki&#x2F;WebSchemas&#x2F;Accessibility&quot;&gt;WebSchemas wiki lists possible values&lt;&#x2F;a&gt;).
         