div.form-element
  label(for="accessibilityHazard") accessibilityHazard
  input(type="text", id="accessibilityHazard", name="accessibilityHazard", placeholder="accessibilityHazard")
  div.description A characteristic of the described resource that is physiologically dangerous to some users. Related to WCAG 2.0 guideline 2.3. (&lt;a href=&quot;http:&#x2F;&#x2F;www.w3.org&#x2F;wiki&#x2F;WebSchemas&#x2F;Accessibility&quot;&gt;WebSchemas wiki lists possible values&lt;&#x2F;a&gt;)