div.form-element
  label(for="acceptedPaymentMethod") acceptedPaymentMethod
  input(type="text", id="acceptedPaymentMethod", name="acceptedPaymentMethod", placeholder="acceptedPaymentMethod")
  div.description The payment method(s) accepted by seller for this offer.