div.form-element
  label(for="accessibilityControl") accessibilityControl
  input(type="text", id="accessibilityControl", name="accessibilityControl", placeholder="accessibilityControl")
  div.description Identifies input methods that are sufficient to fully control the described resource (&lt;a href=&quot;http:&#x2F;&#x2F;www.w3.org&#x2F;wiki&#x2F;WebSchemas&#x2F;Accessibility&quot;&gt;WebSchemas wiki lists possible values&lt;&#x2F;a&gt;).