div.form-element
  label(for="acceptedOffer") acceptedOffer
  input(type="text", id="acceptedOffer", name="acceptedOffer", placeholder="acceptedOffer")
  div.description The offer(s) -- e.g., product, quantity and price combinations -- included in the order.