div.form-element
  label(for="accessibilityFeature") accessibilityFeature
  input(type="text", id="accessibilityFeature", name="accessibilityFeature", placeholder="accessibilityFeature")
  div.description Content features of the resource, such as accessible media, alternatives and supported enhancements for accessibility (&lt;a href=&quot;http:&#x2F;&#x2F;www.w3.org&#x2F;wiki&#x2F;WebSchemas&#x2F;Accessibility&quot;&gt;WebSchemas wiki lists possible values&lt;&#x2F;a&gt;).