div.form-element
  label(for="acquiredFrom") acquiredFrom
  input(type="text", id="acquiredFrom", name="acquiredFrom", placeholder="acquiredFrom")
  div.description The organization or person from which the product was acquired.