div.form-element
  label(for="activityFrequency") activityFrequency
  input(type="text", id="activityFrequency", name="activityFrequency", placeholder="activityFrequency")
  div.description How often one should engage in the activity.