div.form-element
  label(for="activityDuration") activityDuration
  input(type="text", id="activityDuration", name="activityDuration", placeholder="activityDuration")
  div.description Length of time to engage in the activity.