div.form-element
  label(for="activeIngredient") activeIngredient
  input(type="text", id="activeIngredient", name="activeIngredient", placeholder="activeIngredient")
  div.description An active ingredient, typically chemical compounds and&#x2F;or biologic substances.