div.form-element
  label(for="actors") actors
  input(type="text", id="actors", name="actors", placeholder="actors")
  div.description A cast member of the movie, tv&#x2F;radio series, season, episode, or video. (legacy spelling; see singular form, actor)