div.form-element
  label(for="additionalVariable") additionalVariable
  input(type="text", id="additionalVariable", name="additionalVariable", placeholder="additionalVariable")
  div.description Any additional component of the exercise prescription that may need to be articulated to the patient. This may include the order of exercises, the number of repetitions of movement, quantitative distance, progressions over time, etc.