div.form-element
  label(for="addOn") addOn
  input(type="text", id="addOn", name="addOn", placeholder="addOn")
  div.description An additional offer that can only be obtained in combination with the first base offer (e.g. supplements and extensions that are available for a surcharge).