div.form-element
  label(for="addressLocality") addressLocality
  input(type="text", id="addressLocality", name="addressLocality", placeholder="addressLocality")
  div.description The locality. For example, Mountain View.