div.form-element
  label(for="administrationRoute") administrationRoute
  input(type="text", id="administrationRoute", name="administrationRoute", placeholder="administrationRoute")
  div.description A route by which this drug may be administered, e.g. &#39;oral&#39;.