div.form-element
  label(for="advanceBookingRequirement") advanceBookingRequirement
  input(type="text", id="advanceBookingRequirement", name="advanceBookingRequirement", placeholder="advanceBookingRequirement")
  div.description The amount of time that is required between accepting the offer and the actual usage of the resource or service.