div.form-element
  label(for="adverseOutcome") adverseOutcome
  input(type="text", id="adverseOutcome", name="adverseOutcome", placeholder="adverseOutcome")
  div.description A possible complication and&#x2F;or side effect of this therapy. If it is known that an adverse outcome is serious (resulting in death, disability, or permanent damage; requiring hospitalization; or is otherwise life-threatening or requires immediate medical attention), tag it as a seriouseAdverseOutcome instead.