div.form-element
  label(for="affiliation") affiliation
  input(type="text", id="affiliation", name="affiliation", placeholder="affiliation")
  div.description An organization that this person is affiliated with. For example, a school&#x2F;university, a club, or a team.