div.form-element
  label(for="aggregateRating") aggregateRating
  input(type="text", id="aggregateRating", name="aggregateRating", placeholder="aggregateRating")
  div.description The overall rating, based on a collection of reviews or ratings, of the item.