div.form-element
  label(for="albums") albums
  input(type="text", id="albums", name="albums", placeholder="albums")
  div.description A collection of music albums (legacy spelling; see singular form, album).