div.form-element
  label(for="algorithm") algorithm
  input(type="text", id="algorithm", name="algorithm", placeholder="algorithm")
  div.description The algorithm or rules to follow to compute the score.