div.form-element
  label(for="alignmentType") alignmentType
  input(type="text", id="alignmentType", name="alignmentType", placeholder="alignmentType")
  div.description A category of alignment between the learning resource and the framework node. Recommended values include: &#39;assesses&#39;, &#39;teaches&#39;, &#39;requires&#39;, &#39;textComplexity&#39;, &#39;readingLevel&#39;, &#39;educationalSubject&#39;, and &#39;educationLevel&#39;.