div.form-element
  label(for="alternativeHeadline") alternativeHeadline
  input(type="text", id="alternativeHeadline", name="alternativeHeadline", placeholder="alternativeHeadline")
  div.description A secondary title of the CreativeWork.