div.form-element
  label(for="amountOfThisGood") amountOfThisGood
  input(type="text", id="amountOfThisGood", name="amountOfThisGood", placeholder="amountOfThisGood")
  div.description The quantity of the goods included in the offer.