div.form-element
  label(for="answerCount") answerCount
  input(type="text", id="answerCount", name="answerCount", placeholder="answerCount")
  div.description The number of answers this question has received.