div.form-element
  label(for="antagonist") antagonist
  input(type="text", id="antagonist", name="antagonist", placeholder="antagonist")
  div.description The muscle whose action counteracts the specified muscle.