div.form-element
  label(for="applicationCategory") applicationCategory
  input(type="text", id="applicationCategory", name="applicationCategory", placeholder="applicationCategory")
  div.description Type of software application, e.g. &quot;Game, Multimedia&quot;.