div.form-element
  label(for="applicationSuite") applicationSuite
  input(type="text", id="applicationSuite", name="applicationSuite", placeholder="applicationSuite")
  div.description The name of the application suite to which the application belongs (e.g. Excel belongs to Office)