div.form-element
  label(for="applicationSubCategory") applicationSubCategory
  input(type="text", id="applicationSubCategory", name="applicationSubCategory", placeholder="applicationSubCategory")
  div.description Subcategory of the application, e.g. &quot;Arcade Game&quot;.