div.form-element
  label(for="applicableLocation") applicableLocation
  input(type="text", id="applicableLocation", name="applicableLocation", placeholder="applicableLocation")
  div.description The location in which the status applies.