div.form-element
  label(for="appliesToDeliveryMethod") appliesToDeliveryMethod
  input(type="text", id="appliesToDeliveryMethod", name="appliesToDeliveryMethod", placeholder="appliesToDeliveryMethod")
  div.description The delivery method(s) to which the delivery charge or payment charge specification applies.