div.form-element
  label(for="areaServed") areaServed
  input(type="text", id="areaServed", name="areaServed", placeholder="areaServed")
  div.description The location served by this contact point (e.g., a phone number intended for Europeans vs. North Americans or only within the United States.)