div.form-element
  label(for="arrivalGate") arrivalGate
  input(type="text", id="arrivalGate", name="arrivalGate", placeholder="arrivalGate")
  div.description Identifier of the flight&#39;s arrival gate.