div.form-element
  label(for="arrivalPlatform") arrivalPlatform
  input(type="text", id="arrivalPlatform", name="arrivalPlatform", placeholder="arrivalPlatform")
  div.description The platform where the train arrives.