div.form-element
  label(for="arrivalTerminal") arrivalTerminal
  input(type="text", id="arrivalTerminal", name="arrivalTerminal", placeholder="arrivalTerminal")
  div.description Identifier of the flight&#39;s arrival terminal.