div.form-element
  label(for="arrivalBusStop") arrivalBusStop
  input(type="text", id="arrivalBusStop", name="arrivalBusStop", placeholder="arrivalBusStop")
  div.description The stop or station from which the bus arrives.