div.form-element
  label(for="arrivalStation") arrivalStation
  input(type="text", id="arrivalStation", name="arrivalStation", placeholder="arrivalStation")
  div.description The station where the train trip ends.