div.form-element
  label(for="arterialBranch") arterialBranch
  input(type="text", id="arterialBranch", name="arterialBranch", placeholder="arterialBranch")
  div.description The branches that comprise the arterial structure.