div.form-element
  label(for="articleSection") articleSection
  input(type="text", id="articleSection", name="articleSection", placeholder="articleSection")
  div.description Articles may belong to one or more &#39;sections&#39; in a magazine or newspaper, such as Sports, Lifestyle, etc.