div.form-element
  label(for="aspect") aspect
  input(type="text", id="aspect", name="aspect", placeholder="aspect")
  div.description An aspect of medical practice that is considered on the page, such as &#39;diagnosis&#39;, &#39;treatment&#39;, &#39;causes&#39;, &#39;prognosis&#39;, &#39;etiology&#39;, &#39;epidemiology&#39;, etc.