div.form-element
  label(for="assemblyVersion") assemblyVersion
  input(type="text", id="assemblyVersion", name="assemblyVersion", placeholder="assemblyVersion")
  div.description Associated product&#x2F;technology version. e.g., .NET Framework 4.5