div.form-element
  label(for="associatedPathophysiology") associatedPathophysiology
  input(type="text", id="associatedPathophysiology", name="associatedPathophysiology", placeholder="associatedPathophysiology")
  div.description If applicable, a description of the pathophysiology associated with the anatomical system, including potential abnormal changes in the mechanical, physical, and biochemical functions of the system.