div.form-element
  label(for="associatedAnatomy") associatedAnatomy
  input(type="text", id="associatedAnatomy", name="associatedAnatomy", placeholder="associatedAnatomy")
  div.description The anatomy of the underlying organ system or structures associated with this entity.