div.form-element
  label(for="associatedArticle") associatedArticle
  input(type="text", id="associatedArticle", name="associatedArticle", placeholder="associatedArticle")
  div.description A NewsArticle associated with the Media Object.