div.form-element
  label(for="associatedMedia") associatedMedia
  input(type="text", id="associatedMedia", name="associatedMedia", placeholder="associatedMedia")
  div.description The media objects that encode this creative work. This property is a synonym for encodings.