div.form-element
  label(for="audienceType") audienceType
  input(type="text", id="audienceType", name="audienceType", placeholder="audienceType")
  div.description The target group associated with a given audience (e.g. veterans, car owners, musicians, etc.)
          domain: Audience
          Range: Text
        