div.form-element
  label(for="audience") audience
  input(type="text", id="audience", name="audience", placeholder="audience")
  div.description The intended audience of the item, i.e. the group for whom the item was created.