div.form-element
  label(for="availableIn") availableIn
  input(type="text", id="availableIn", name="availableIn", placeholder="availableIn")
  div.description The location in which the strength is available.