div.form-element
  label(for="availableChannel") availableChannel
  input(type="text", id="availableChannel", name="availableChannel", placeholder="availableChannel")
  div.description A means of accessing the service (e.g. a phone bank, a web site, a location, etc.)