div.form-element
  label(for="availabilityStarts") availabilityStarts
  input(type="text", id="availabilityStarts", name="availabilityStarts", placeholder="availabilityStarts")
  div.description The beginning of the availability of the product or service included in the offer.