div.form-element
  label(for="availabilityEnds") availabilityEnds
  input(type="text", id="availabilityEnds", name="availabilityEnds", placeholder="availabilityEnds")
  div.description The end of the availability of the product or service included in the offer.