div.form-element
  label(for="availableAtOrFrom") availableAtOrFrom
  input(type="text", id="availableAtOrFrom", name="availableAtOrFrom", placeholder="availableAtOrFrom")
  div.description The place(s) from which the offer can be obtained (e.g. store locations).