div.form-element
  label(for="availableDeliveryMethod") availableDeliveryMethod
  input(type="text", id="availableDeliveryMethod", name="availableDeliveryMethod", placeholder="availableDeliveryMethod")
  div.description The delivery method(s) available for this offer.