div.form-element
  label(for="availableService") availableService
  input(type="text", id="availableService", name="availableService", placeholder="availableService")
  div.description A medical service available from this provider.