div.form-element
  label(for="availableFrom") availableFrom
  input(type="text", id="availableFrom", name="availableFrom", placeholder="availableFrom")
  div.description When the item is available for pickup from the store, locker, etc.