div.form-element
  label(for="availableStrength") availableStrength
  input(type="text", id="availableStrength", name="availableStrength", placeholder="availableStrength")
  div.description An available dosage strength for the drug.