div.form-element
  label(for="availability") availability
  input(type="text", id="availability", name="availability", placeholder="availability")
  div.description The availability of this item&amp;#x2014;for example In stock, Out of stock, Pre-order, etc.