div.form-element
  label(for="awards") awards
  input(type="text", id="awards", name="awards", placeholder="awards")
  div.description Awards won by this person or for this creative work. (legacy spelling; see singular form, award)