div.form-element
  label(for="background") background
  input(type="text", id="background", name="background", placeholder="background")
  div.description Descriptive information establishing a historical perspective on the supplement. May include the rationale for the name, the population where the supplement first came to prominence, etc.