div.form-element
  label(for="biomechnicalClass") biomechnicalClass
  input(type="text", id="biomechnicalClass", name="biomechnicalClass", placeholder="biomechnicalClass")
  div.description The biomechanical properties of the bone.