div.form-element
  label(for="blogPosts") blogPosts
  input(type="text", id="blogPosts", name="blogPosts", placeholder="blogPosts")
  div.description The postings that are part of this blog (legacy spelling; see singular form, blogPost).