div.form-element
  label(for="boardingGroup") boardingGroup
  input(type="text", id="boardingGroup", name="boardingGroup", placeholder="boardingGroup")
  div.description The airline-specific indicator of boarding order &#x2F; preference.