div.form-element
  label(for="bodyLocation") bodyLocation
  input(type="text", id="bodyLocation", name="bodyLocation", placeholder="bodyLocation")
  div.description Location in the body of the anatomical structure.