div.form-element
  label(for="bookingAgent") bookingAgent
  input(type="text", id="bookingAgent", name="bookingAgent", placeholder="bookingAgent")
  div.description If the reservation was not booked directly through the provider, the third-party booking agent can be recorded through this property.