div.form-element
  label(for="bookingTime") bookingTime
  input(type="text", id="bookingTime", name="bookingTime", placeholder="bookingTime")
  div.description The date and time the reservation was booked.