div.form-element
  label(for="borrower") borrower
  input(type="text", id="borrower", name="borrower", placeholder="borrower")
  div.description A sub property of participant. The person that borrows the object being lent.