div.form-element
  label(for="brand") brand
  input(type="text", id="brand", name="brand", placeholder="brand")
  div.description The brand(s) associated with a product or service, or the brand(s) maintained by an organization or business person.