div.form-element
  label(for="breastfeedingWarning") breastfeedingWarning
  input(type="text", id="breastfeedingWarning", name="breastfeedingWarning", placeholder="breastfeedingWarning")
  div.description Any precaution, guidance, contraindication, etc. related to this drug&#39;s use by breastfeeding mothers.