div.form-element
  label(for="businessFunction") businessFunction
  input(type="text", id="businessFunction", name="businessFunction", placeholder="businessFunction")
  div.description The business function (e.g. sell, lease, repair, dispose) of the offer or component of a bundle (TypeAndQuantityNode). The default is http:&#x2F;&#x2F;purl.org&#x2F;goodrelations&#x2F;v1#Sell.