div.form-element
  label(for="buyer") buyer
  input(type="text", id="buyer", name="buyer", placeholder="buyer")
  div.description A sub property of participant. The participant&#x2F;person&#x2F;organization that bought the object.