div.form-element
  label(for="carbohydrateContent") carbohydrateContent
  input(type="text", id="carbohydrateContent", name="carbohydrateContent", placeholder="carbohydrateContent")
  div.description The number of grams of carbohydrates.