div.form-element
  label(for="carrierRequirements") carrierRequirements
  input(type="text", id="carrierRequirements", name="carrierRequirements", placeholder="carrierRequirements")
  div.description Specifies specific carrier(s) requirements for the application (e.g. an application may only work on a specific carrier network).