div.form-element
  label(for="category") category
  input(type="text", id="category", name="category", placeholder="category")
  div.description A category for the item. Greater signs or slashes can be used to informally indicate a category hierarchy.