div.form-element
  label(for="cause") cause
  input(type="text", id="cause", name="cause", placeholder="cause")
  div.description An underlying cause. More specifically, one of the causative agent(s) that are most directly responsible for the pathophysiologic process that eventually results in the occurrence.