div.form-element
  label(for="characterName") characterName
  input(type="text", id="characterName", name="characterName", placeholder="characterName")
  div.description The name of a character played in some acting or performing role, i.e. in a PerformanceRole.