div.form-element
  label(for="checkoutTime") checkoutTime
  input(type="text", id="checkoutTime", name="checkoutTime", placeholder="checkoutTime")
  div.description The latest someone may check out of a lodging establishment.