div.form-element
  label(for="checkinTime") checkinTime
  input(type="text", id="checkinTime", name="checkinTime", placeholder="checkinTime")
  div.description The earliest someone may check into a lodging establishment.