div.form-element
  label(for="cholesterolContent") cholesterolContent
  input(type="text", id="cholesterolContent", name="cholesterolContent", placeholder="cholesterolContent")
  div.description The number of milligrams of cholesterol.