div.form-element
  label(for="circle") circle
  input(type="text", id="circle", name="circle", placeholder="circle")
  div.description A circle is the circular region of a specified radius centered at a specified latitude and longitude. A circle is expressed as a pair followed by a radius in meters.