div.form-element
  label(for="clincalPharmacology") clincalPharmacology
  input(type="text", id="clincalPharmacology", name="clincalPharmacology", placeholder="clincalPharmacology")
  div.description Description of the absorption and elimination of drugs, including their concentration (pharmacokinetics, pK) and biological effects (pharmacodynamics, pD).