div.form-element
  label(for="clipNumber") clipNumber
  input(type="text", id="clipNumber", name="clipNumber", placeholder="clipNumber")
  div.description Position of the clip within an ordered group of clips.