div.form-element
  label(for="closes") closes
  input(type="text", id="closes", name="closes", placeholder="closes")
  div.description The closing hour of the place or service on the given day(s) of the week.