div.form-element
  label(for="code") code
  input(type="text", id="code", name="code", placeholder="code")
  div.description A medical code for the entity, taken from a controlled vocabulary or ontology such as ICD-9, DiseasesDB, MeSH, SNOMED-CT, RxNorm, etc.