div.form-element
  label(for="codeRepository") codeRepository
  input(type="text", id="codeRepository", name="codeRepository", placeholder="codeRepository")
  div.description Link to the repository where the un-compiled, human readable code and related code is located (SVN, github, CodePlex)