div.form-element
  label(for="codingSystem") codingSystem
  input(type="text", id="codingSystem", name="codingSystem", placeholder="codingSystem")
  div.description The coding system, e.g. &#39;ICD-10&#39;.