div.form-element
  label(for="collection") collection
  input(type="text", id="collection", name="collection", placeholder="collection")
  div.description A sub property of object. The collection target of the action.