div.form-element
  label(for="comprisedOf") comprisedOf
  input(type="text", id="comprisedOf", name="comprisedOf", placeholder="comprisedOf")
  div.description The underlying anatomical structures, such as organs, that comprise the anatomical system.