div.form-element
  label(for="confirmationNumber") confirmationNumber
  input(type="text", id="confirmationNumber", name="confirmationNumber", placeholder="confirmationNumber")
  div.description A number that confirms the given order.