div.form-element
  label(for="connectedTo") connectedTo
  input(type="text", id="connectedTo", name="connectedTo", placeholder="connectedTo")
  div.description Other anatomical structures to which this structure is connected.