div.form-element
  label(for="containedIn") containedIn
  input(type="text", id="containedIn", name="containedIn", placeholder="containedIn")
  div.description The basic containment relation between places.