div.form-element
  label(for="contentType") contentType
  input(type="text", id="contentType", name="contentType", placeholder="contentType")
  div.description The supported content type(s) for an EntryPoint response.