div.form-element
  label(for="contraindication") contraindication
  input(type="text", id="contraindication", name="contraindication", placeholder="contraindication")
  div.description A contraindication for this therapy.