div.form-element
  label(for="contentUrl") contentUrl
  input(type="text", id="contentUrl", name="contentUrl", placeholder="contentUrl")
  div.description Actual bytes of the media object, for example the image file or video file. (previous spelling: contentURL)