div.form-element
  label(for="contactType") contactType
  input(type="text", id="contactType", name="contactType", placeholder="contactType")
  div.description A person or organization can have different contact points, for different purposes. For example, a sales contact point, a PR contact point and so on. This property is used to specify the kind of contact point.