div.form-element
  label(for="contentRating") contentRating
  input(type="text", id="contentRating", name="contentRating", placeholder="contentRating")
  div.description Official rating of a piece of content&amp;#x2014;for example,&#39;MPAA PG-13&#39;.