div.form-element
  label(for="cookTime") cookTime
  input(type="text", id="cookTime", name="cookTime", placeholder="cookTime")
  div.description The time it takes to actually cook the dish, in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_8601&#39;&gt;ISO 8601 duration format&lt;&#x2F;a&gt;.