div.form-element
  label(for="copyrightYear") copyrightYear
  input(type="text", id="copyrightYear", name="copyrightYear", placeholder="copyrightYear")
  div.description The year during which the claimed copyright for the CreativeWork was first asserted.