div.form-element
  label(for="costCurrency") costCurrency
  input(type="text", id="costCurrency", name="costCurrency", placeholder="costCurrency")
  div.description The currency (in 3-letter &lt;a href=http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_4217&gt;ISO 4217 format&lt;&#x2F;a&gt;) of the drug cost.