div.form-element
  label(for="costCategory") costCategory
  input(type="text", id="costCategory", name="costCategory", placeholder="costCategory")
  div.description The category of cost, such as wholesale, retail, reimbursement cap, etc.