div.form-element
  label(for="costOrigin") costOrigin
  input(type="text", id="costOrigin", name="costOrigin", placeholder="costOrigin")
  div.description Additional details to capture the origin of the cost data. For example, &#39;Medicare Part B&#39;.