div.form-element
  label(for="countriesNotSupported") countriesNotSupported
  input(type="text", id="countriesNotSupported", name="countriesNotSupported", placeholder="countriesNotSupported")
  div.description Countries for which the application is not supported. You can also provide the two-letter ISO 3166-1 alpha-2 country code.