div.form-element
  label(for="course") course
  input(type="text", id="course", name="course", placeholder="course")
  div.description A sub property of location. The course where this action was taken.