div.form-element
  label(for="creator") creator
  input(type="text", id="creator", name="creator", placeholder="creator")
  div.description The creator&#x2F;author of this CreativeWork or UserComments. This is the same as the Author property for CreativeWork.