div.form-element
  label(for="currenciesAccepted") currenciesAccepted
  input(type="text", id="currenciesAccepted", name="currenciesAccepted", placeholder="currenciesAccepted")
  div.description The currency accepted (in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_4217&#39;&gt;ISO 4217 currency format&lt;&#x2F;a&gt;).