div.form-element
  label(for="dateCreated") dateCreated
  input(type="text", id="dateCreated", name="dateCreated", placeholder="dateCreated")
  div.description The date on which the CreativeWork was created.