div.form-element
  label(for="dateModified") dateModified
  input(type="text", id="dateModified", name="dateModified", placeholder="dateModified")
  div.description The date on which the CreativeWork was most recently modified.