div.form-element
  label(for="datePublished") datePublished
  input(type="text", id="datePublished", name="datePublished", placeholder="datePublished")
  div.description Date of first broadcast&#x2F;publication.