div.form-element
  label(for="dayOfWeek") dayOfWeek
  input(type="text", id="dayOfWeek", name="dayOfWeek", placeholder="dayOfWeek")
  div.description The day of the week for which these opening hours are valid.