div.form-element
  label(for="deliveryStatus") deliveryStatus
  input(type="text", id="deliveryStatus", name="deliveryStatus", placeholder="deliveryStatus")
  div.description New entry added as the package passes through each leg of its journey (from shipment to final delivery).