div.form-element
  label(for="department") department
  input(type="text", id="department", name="department", placeholder="department")
  div.description A relationship between an organization and a department of that organization, also described as an organization (allowing different urls, logos, opening hours). For example: a store with a pharmacy, or a bakery with a cafe.