div.form-element
  label(for="departureBusStop") departureBusStop
  input(type="text", id="departureBusStop", name="departureBusStop", placeholder="departureBusStop")
  div.description The stop or station from which the bus departs.