div.form-element
  label(for="departureGate") departureGate
  input(type="text", id="departureGate", name="departureGate", placeholder="departureGate")
  div.description Identifier of the flight&#39;s departure gate.