div.form-element
  label(for="departureStation") departureStation
  input(type="text", id="departureStation", name="departureStation", placeholder="departureStation")
  div.description The station from which the train departs.