div.form-element
  label(for="departureAirport") departureAirport
  input(type="text", id="departureAirport", name="departureAirport", placeholder="departureAirport")
  div.description The airport where the flight terminates.