div.form-element
  label(for="departureTerminal") departureTerminal
  input(type="text", id="departureTerminal", name="departureTerminal", placeholder="departureTerminal")
  div.description Identifier of the flight&#39;s departure terminal.