div.form-element
  label(for="departurePlatform") departurePlatform
  input(type="text", id="departurePlatform", name="departurePlatform", placeholder="departurePlatform")
  div.description The platform from which the train departs.