div.form-element
  label(for="dependencies") dependencies
  input(type="text", id="dependencies", name="dependencies", placeholder="dependencies")
  div.description Prerequisites needed to fulfill steps in article.