div.form-element
  label(for="device") device
  input(type="text", id="device", name="device", placeholder="device")
  div.description Device required to run the application. Used in cases where a specific make&#x2F;model is required to run the application.