div.form-element
  label(for="diagram") diagram
  input(type="text", id="diagram", name="diagram", placeholder="diagram")
  div.description An image containing a diagram that illustrates the structure and&#x2F;or its component substructures and&#x2F;or connections with other structures.