div.form-element
  label(for="diagnosis") diagnosis
  input(type="text", id="diagnosis", name="diagnosis", placeholder="diagnosis")
  div.description One or more alternative conditions considered in the differential diagnosis process.