div.form-element
  label(for="dietFeatures") dietFeatures
  input(type="text", id="dietFeatures", name="dietFeatures", placeholder="dietFeatures")
  div.description Nutritional information specific to the dietary plan. May include dietary recommendations on what foods to avoid, what foods to consume, and specific alterations&#x2F;deviations from the USDA or other regulatory body&#39;s approved dietary guidelines.