div.form-element
  label(for="directors") directors
  input(type="text", id="directors", name="directors", placeholder="directors")
  div.description The director of the movie, tv&#x2F;radio episode or series. (legacy spelling; see singular form, director)