div.form-element
  label(for="discountCurrency") discountCurrency
  input(type="text", id="discountCurrency", name="discountCurrency", placeholder="discountCurrency")
  div.description The currency (in 3-letter ISO 4217 format) of the discount.