div.form-element
  label(for="discussionUrl") discussionUrl
  input(type="text", id="discussionUrl", name="discussionUrl", placeholder="discussionUrl")
  div.description A link to the page containing the comments of the CreativeWork.