div.form-element
  label(for="distinguishingSign") distinguishingSign
  input(type="text", id="distinguishingSign", name="distinguishingSign", placeholder="distinguishingSign")
  div.description One of a set of signs and symptoms that can be used to distinguish this diagnosis from others in the differential diagnosis.