div.form-element
  label(for="domainIncludes") domainIncludes
  input(type="text", id="domainIncludes", name="domainIncludes", placeholder="domainIncludes")
  div.description Relates a property to a class that is (one of) the type(s) the property is expected to be used on.