div.form-element
  label(for="dosageForm") dosageForm
  input(type="text", id="dosageForm", name="dosageForm", placeholder="dosageForm")
  div.description A dosage form in which this drug&#x2F;supplement is available, e.g. &#39;tablet&#39;, &#39;suspension&#39;, &#39;injection&#39;.