div.form-element
  label(for="doseSchedule") doseSchedule
  input(type="text", id="doseSchedule", name="doseSchedule", placeholder="doseSchedule")
  div.description A dosing schedule for the drug for a given population, either observed, recommended, or maximum dose based on the type used.