div.form-element
  label(for="downvoteCount") downvoteCount
  input(type="text", id="downvoteCount", name="downvoteCount", placeholder="downvoteCount")
  div.description The number of downvotes this question has received from the community.