div.form-element
  label(for="downloadUrl") downloadUrl
  input(type="text", id="downloadUrl", name="downloadUrl", placeholder="downloadUrl")
  div.description If the file can be downloaded, URL to download the binary.