div.form-element
  label(for="drugClass") drugClass
  input(type="text", id="drugClass", name="drugClass", placeholder="drugClass")
  div.description The class of drug this belongs to (e.g., statins).