div.form-element
  label(for="drugUnit") drugUnit
  input(type="text", id="drugUnit", name="drugUnit", placeholder="drugUnit")
  div.description The unit in which the drug is measured, e.g. &#39;5 mg tablet&#39;.