div.form-element
  label(for="duns") duns
  input(type="text", id="duns", name="duns", placeholder="duns")
  div.description The Dun &amp; Bradstreet DUNS number for identifying an organization or business person.