div.form-element
  label(for="duplicateTherapy") duplicateTherapy
  input(type="text", id="duplicateTherapy", name="duplicateTherapy", placeholder="duplicateTherapy")
  div.description A therapy that duplicates or overlaps this one.