div.form-element
  label(for="duration") duration
  input(type="text", id="duration", name="duration", placeholder="duration")
  div.description The duration of the item (movie, audio recording, event, etc.) in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_8601&#39;&gt;ISO 8601 date format&lt;&#x2F;a&gt;.