div.form-element
  label(for="durationOfWarranty") durationOfWarranty
  input(type="text", id="durationOfWarranty", name="durationOfWarranty", placeholder="durationOfWarranty")
  div.description The duration of the warranty promise. Common unitCode values are ANN for year, MON for months, or DAY for days.