div.form-element
  label(for="educationRequirements") educationRequirements
  input(type="text", id="educationRequirements", name="educationRequirements", placeholder="educationRequirements")
  div.description Educational background needed for the position.