div.form-element
  label(for="educationalUse") educationalUse
  input(type="text", id="educationalUse", name="educationalUse", placeholder="educationalUse")
  div.description The purpose of a work in the context of education; for example, &#39;assignment&#39;, &#39;group work&#39;.