div.form-element
  label(for="educationalFramework") educationalFramework
  input(type="text", id="educationalFramework", name="educationalFramework", placeholder="educationalFramework")
  div.description The framework to which the resource being described is aligned.