div.form-element
  label(for="educationalAlignment") educationalAlignment
  input(type="text", id="educationalAlignment", name="educationalAlignment", placeholder="educationalAlignment")
  div.description An alignment to an established educational framework.