div.form-element
  label(for="eligibleQuantity") eligibleQuantity
  input(type="text", id="eligibleQuantity", name="eligibleQuantity", placeholder="eligibleQuantity")
  div.description The interval and unit of measurement of ordering quantities for which the offer or price specification is valid. This allows e.g. specifying that a certain freight charge is valid only for a certain quantity.