div.form-element
  label(for="eligibleCustomerType") eligibleCustomerType
  input(type="text", id="eligibleCustomerType", name="eligibleCustomerType", placeholder="eligibleCustomerType")
  div.description The type(s) of customers for which the given offer is valid.