div.form-element
  label(for="eligibleTransactionVolume") eligibleTransactionVolume
  input(type="text", id="eligibleTransactionVolume", name="eligibleTransactionVolume", placeholder="eligibleTransactionVolume")
  div.description The transaction volume, in a monetary unit, for which the offer or price specification is valid, e.g. for indicating a minimal purchasing volume, to express free shipping above a certain order volume, or to limit the acceptance of credit cards to purchases to a certain minimal amount.