div.form-element
  label(for="eligibleDuration") eligibleDuration
  input(type="text", id="eligibleDuration", name="eligibleDuration", placeholder="eligibleDuration")
  div.description The duration for which the given offer is valid.