div.form-element
  label(for="embedUrl") embedUrl
  input(type="text", id="embedUrl", name="embedUrl", placeholder="embedUrl")
  div.description A URL pointing to a player for a specific video. In general, this is the information in the &lt;code&gt;src&lt;&#x2F;code&gt; element of an &lt;code&gt;embed&lt;&#x2F;code&gt; tag and should not be the same as the content of the &lt;code&gt;loc&lt;&#x2F;code&gt; tag. (previous spelling: embedURL)