div.form-element
  label(for="employmentType") employmentType
  input(type="text", id="employmentType", name="employmentType", placeholder="employmentType")
  div.description Type of employment (e.g. full-time, part-time, contract, temporary, seasonal, internship).