div.form-element
  label(for="encodesCreativeWork") encodesCreativeWork
  input(type="text", id="encodesCreativeWork", name="encodesCreativeWork", placeholder="encodesCreativeWork")
  div.description The creative work encoded by this media object