div.form-element
  label(for="encodings") encodings
  input(type="text", id="encodings", name="encodings", placeholder="encodings")
  div.description The media objects that encode this creative work (legacy spelling; see singular form, encoding).