div.form-element
  label(for="encodingType") encodingType
  input(type="text", id="encodingType", name="encodingType", placeholder="encodingType")
  div.description The supported encoding type(s) for an EntryPoint request.