div.form-element
  label(for="endTime") endTime
  input(type="text", id="endTime", name="endTime", placeholder="endTime")
  div.description The endTime of something. For a reserved event or service (e.g. FoodEstablishmentReservation), the time that it is expected to end. For actions that span a period of time, when the action was performed. e.g. John wrote a book from January to *December*.

Note that Event uses startDate&#x2F;endDate instead of startTime&#x2F;endTime, even when describing dates with times. This situation may be clarified in future revisions.
