div.form-element
  label(for="entertainmentBusiness") entertainmentBusiness
  input(type="text", id="entertainmentBusiness", name="entertainmentBusiness", placeholder="entertainmentBusiness")
  div.description A sub property of location. The entertainment business where the action occurred.