div.form-element
  label(for="epidemiology") epidemiology
  input(type="text", id="epidemiology", name="epidemiology", placeholder="epidemiology")
  div.description The characteristics of associated patients, such as age, gender, race etc.