div.form-element
  label(for="episodeNumber") episodeNumber
  input(type="text", id="episodeNumber", name="episodeNumber", placeholder="episodeNumber")
  div.description Position of the episode within an ordered group of episodes.