div.form-element
  label(for="equal") equal
  input(type="text", id="equal", name="equal", placeholder="equal")
  div.description This ordering relation for qualitative values indicates that the subject is equal to the object.