div.form-element
  label(for="estimatedFlightDuration") estimatedFlightDuration
  input(type="text", id="estimatedFlightDuration", name="estimatedFlightDuration", placeholder="estimatedFlightDuration")
  div.description The estimated time the flight will take.