div.form-element
  label(for="eventStatus") eventStatus
  input(type="text", id="eventStatus", name="eventStatus", placeholder="eventStatus")
  div.description An eventStatus of an event represents its status; particularly useful when an event is cancelled or rescheduled.