div.form-element
  label(for="events") events
  input(type="text", id="events", name="events", placeholder="events")
  div.description Upcoming or past events associated with this place or organization (legacy spelling; see singular form, event).