div.form-element
  label(for="evidenceOrigin") evidenceOrigin
  input(type="text", id="evidenceOrigin", name="evidenceOrigin", placeholder="evidenceOrigin")
  div.description Source of the data used to formulate the guidance, e.g. RCT, consensus opinion, etc.