div.form-element
  label(for="evidenceLevel") evidenceLevel
  input(type="text", id="evidenceLevel", name="evidenceLevel", placeholder="evidenceLevel")
  div.description Strength of evidence of the data used to formulate the guideline (enumerated).