div.form-element
  label(for="exerciseType") exerciseType
  input(type="text", id="exerciseType", name="exerciseType", placeholder="exerciseType")
  div.description Type(s) of exercise or activity, such as strength training, flexibility training, aerobics, cardiac rehabilitation, etc.