div.form-element
  label(for="exercisePlan") exercisePlan
  input(type="text", id="exercisePlan", name="exercisePlan", placeholder="exercisePlan")
  div.description A sub property of instrument. The exercise plan used on this action.