div.form-element
  label(for="expectedArrivalUntil") expectedArrivalUntil
  input(type="text", id="expectedArrivalUntil", name="expectedArrivalUntil", placeholder="expectedArrivalUntil")
  div.description The latest date the package may arrive.