div.form-element
  label(for="expertConsiderations") expertConsiderations
  input(type="text", id="expertConsiderations", name="expertConsiderations", placeholder="expertConsiderations")
  div.description Medical expert advice related to the plan.