div.form-element
  label(for="expectedArrivalFrom") expectedArrivalFrom
  input(type="text", id="expectedArrivalFrom", name="expectedArrivalFrom", placeholder="expectedArrivalFrom")
  div.description The earliest date the package may arrive.