div.form-element
  label(for="expectedPrognosis") expectedPrognosis
  input(type="text", id="expectedPrognosis", name="expectedPrognosis", placeholder="expectedPrognosis")
  div.description The likely outcome in either the short term or long term of the medical condition.