div.form-element
  label(for="featureList") featureList
  input(type="text", id="featureList", name="featureList", placeholder="featureList")
  div.description Features or modules provided by this application (and possibly required by other applications).