div.form-element
  label(for="flightDistance") flightDistance
  input(type="text", id="flightDistance", name="flightDistance", placeholder="flightDistance")
  div.description The distance of the flight.