div.form-element
  label(for="flightNumber") flightNumber
  input(type="text", id="flightNumber", name="flightNumber", placeholder="flightNumber")
  div.description The unique identifier for a flight, not including the airline IATA code. For example, if describing United flight 110, the flightNumber is &#39;110&#39;. The IATA code can be set on the Airline.