div.form-element
  label(for="followup") followup
  input(type="text", id="followup", name="followup", placeholder="followup")
  div.description Typical or recommended followup care after the procedure is performed.