div.form-element
  label(for="foodWarning") foodWarning
  input(type="text", id="foodWarning", name="foodWarning", placeholder="foodWarning")
  div.description Any precaution, guidance, contraindication, etc. related to consumption of specific foods while taking this drug.