div.form-element
  label(for="foodEvent") foodEvent
  input(type="text", id="foodEvent", name="foodEvent", placeholder="foodEvent")
  div.description A sub property of location. The specific food event where the action occurred.