div.form-element
  label(for="frequency") frequency
  input(type="text", id="frequency", name="frequency", placeholder="frequency")
  div.description How often the dose is taken, e.g. &#39;daily&#39;.