div.form-element
  label(for="fromLocation") fromLocation
  input(type="text", id="fromLocation", name="fromLocation", placeholder="fromLocation")
  div.description A sub property of location. The original location of the object or the agent before the action.