div.form-element
  label(for="functionalClass") functionalClass
  input(type="text", id="functionalClass", name="functionalClass", placeholder="functionalClass")
  div.description The degree of mobility the joint allows.