div.form-element
  label(for="greater") greater
  input(type="text", id="greater", name="greater", placeholder="greater")
  div.description This ordering relation for qualitative values indicates that the subject is greater than the object.