div.form-element
  label(for="greaterOrEqual") greaterOrEqual
  input(type="text", id="greaterOrEqual", name="greaterOrEqual", placeholder="greaterOrEqual")
  div.description This ordering relation for qualitative values indicates that the subject is greater than or equal to the object.