div.form-element
  label(for="gtin8") gtin8
  input(type="text", id="gtin8", name="gtin8", placeholder="gtin8")
  div.description The GTIN-8 code of the product, or the product to which the offer refers. This code is also known as EAN&#x2F;UCC-8 or 8-digit EAN.