div.form-element
  label(for="guidelineSubject") guidelineSubject
  input(type="text", id="guidelineSubject", name="guidelineSubject", placeholder="guidelineSubject")
  div.description The medical conditions, treatments, etc. that are the subject of the guideline.