div.form-element
  label(for="guidelineDate") guidelineDate
  input(type="text", id="guidelineDate", name="guidelineDate", placeholder="guidelineDate")
  div.description Date on which this guideline&#39;s recommendation was made.