div.form-element
  label(for="hasDeliveryMethod") hasDeliveryMethod
  input(type="text", id="hasDeliveryMethod", name="hasDeliveryMethod", placeholder="hasDeliveryMethod")
  div.description Method used for delivery or shipping.