div.form-element
  label(for="homeLocation") homeLocation
  input(type="text", id="homeLocation", name="homeLocation", placeholder="homeLocation")
  div.description A contact location for a person&#39;s residence.