div.form-element
  label(for="honorificSuffix") honorificSuffix
  input(type="text", id="honorificSuffix", name="honorificSuffix", placeholder="honorificSuffix")
  div.description An honorific suffix preceding a Person&#39;s name such as M.D. &#x2F;PhD&#x2F;MSCSW.