div.form-element
  label(for="hospitalAffiliation") hospitalAffiliation
  input(type="text", id="hospitalAffiliation", name="hospitalAffiliation", placeholder="hospitalAffiliation")
  div.description A hospital with which the physician or office is affiliated.