div.form-element
  label(for="hoursAvailable") hoursAvailable
  input(type="text", id="hoursAvailable", name="hoursAvailable", placeholder="hoursAvailable")
  div.description The hours during which this contact point is available.