div.form-element
  label(for="httpMethod") httpMethod
  input(type="text", id="httpMethod", name="httpMethod", placeholder="httpMethod")
  div.description An HTTP method that specifies the appropriate HTTP method for a request to an HTTP EntryPoint. Values are capitalized strings as used in HTTP.