div.form-element
  label(for="identifyingExam") identifyingExam
  input(type="text", id="identifyingExam", name="identifyingExam", placeholder="identifyingExam")
  div.description A physical examination that can identify this sign.