div.form-element
  label(for="imagingTechnique") imagingTechnique
  input(type="text", id="imagingTechnique", name="imagingTechnique", placeholder="imagingTechnique")
  div.description Imaging technique used.