div.form-element
  label(for="incentives") incentives
  input(type="text", id="incentives", name="incentives", placeholder="incentives")
  div.description Description of bonus and commission compensation aspects of the job.