div.form-element
  label(for="includedRiskFactor") includedRiskFactor
  input(type="text", id="includedRiskFactor", name="includedRiskFactor", placeholder="includedRiskFactor")
  div.description A modifiable or non-modifiable risk factor included in the calculation, e.g. age, coexisting condition.