div.form-element
  label(for="includesObject") includesObject
  input(type="text", id="includesObject", name="includesObject", placeholder="includesObject")
  div.description This links to a node or nodes indicating the exact quantity of the products included in the offer.