div.form-element
  label(for="increasesRiskOf") increasesRiskOf
  input(type="text", id="increasesRiskOf", name="increasesRiskOf", placeholder="increasesRiskOf")
  div.description The condition, complication, etc. influenced by this factor.