div.form-element
  label(for="indication") indication
  input(type="text", id="indication", name="indication", placeholder="indication")
  div.description A factor that indicates use of this therapy for treatment and&#x2F;or prevention of a condition, symptom, etc. For therapies such as drugs, indications can include both officially-approved indications as well as off-label uses. These can be distinguished by using the ApprovedIndication subtype of MedicalIndication.