div.form-element
  label(for="infectiousAgentClass") infectiousAgentClass
  input(type="text", id="infectiousAgentClass", name="infectiousAgentClass", placeholder="infectiousAgentClass")
  div.description The class of infectious agent (bacteria, prion, etc.) that causes the disease.