div.form-element
  label(for="inLanguage") inLanguage
  input(type="text", id="inLanguage", name="inLanguage", placeholder="inLanguage")
  div.description The language of the content. please use one of the language codes from the &lt;a href=&#39;http:&#x2F;&#x2F;tools.ietf.org&#x2F;html&#x2F;bcp47&#39;&gt;IETF BCP 47 standard.&lt;&#x2F;a&gt;