div.form-element
  label(for="inPlaylist") inPlaylist
  input(type="text", id="inPlaylist", name="inPlaylist", placeholder="inPlaylist")
  div.description The playlist to which this recording belongs.