div.form-element
  label(for="installUrl") installUrl
  input(type="text", id="installUrl", name="installUrl", placeholder="installUrl")
  div.description URL at which the app may be installed, if different from the URL of the item.