div.form-element
  label(for="instrument") instrument
  input(type="text", id="instrument", name="instrument", placeholder="instrument")
  div.description The object that helped the agent perform the action. e.g. John wrote a book with *a pen*.