div.form-element
  label(for="interactivityType") interactivityType
  input(type="text", id="interactivityType", name="interactivityType", placeholder="interactivityType")
  div.description The predominant mode of learning supported by the learning resource. Acceptable values are &#39;active&#39;, &#39;expositive&#39;, or &#39;mixed&#39;.