div.form-element
  label(for="intensity") intensity
  input(type="text", id="intensity", name="intensity", placeholder="intensity")
  div.description Quantitative measure gauging the degree of force involved in the exercise, for example, heartbeats per minute. May include the velocity of the movement.