div.form-element
  label(for="interactionCount") interactionCount
  input(type="text", id="interactionCount", name="interactionCount", placeholder="interactionCount")
  div.description A count of a specific user interactions with this item&amp;#x2014;for example, &lt;code&gt;20 UserLikes&lt;&#x2F;code&gt;, &lt;code&gt;5 UserComments&lt;&#x2F;code&gt;, or &lt;code&gt;300 UserDownloads&lt;&#x2F;code&gt;. The user interaction type should be one of the sub types of &lt;a href=&#39;UserInteraction&#39;&gt;UserInteraction&lt;&#x2F;a&gt;.