div.form-element
  label(for="interactingDrug") interactingDrug
  input(type="text", id="interactingDrug", name="interactingDrug", placeholder="interactingDrug")
  div.description Another drug that is known to interact with this drug in a way that impacts the effect of this drug or causes a risk to the patient. Note: disease interactions are typically captured as contraindications.