div.form-element
  label(for="inventoryLevel") inventoryLevel
  input(type="text", id="inventoryLevel", name="inventoryLevel", placeholder="inventoryLevel")
  div.description The current approximate inventory level for the item or items.