div.form-element
  label(for="isAvailableGenerically") isAvailableGenerically
  input(type="text", id="isAvailableGenerically", name="isAvailableGenerically", placeholder="isAvailableGenerically")
  div.description True if the drug is available in a generic form (regardless of name).