div.form-element
  label(for="isBasedOnUrl") isBasedOnUrl
  input(type="text", id="isBasedOnUrl", name="isBasedOnUrl", placeholder="isBasedOnUrl")
  div.description A resource that was used in the creation of this resource. This term can be repeated for multiple sources. For example, http:&#x2F;&#x2F;example.com&#x2F;great-multiplication-intro.html