div.form-element
  label(for="isConsumableFor") isConsumableFor
  input(type="text", id="isConsumableFor", name="isConsumableFor", placeholder="isConsumableFor")
  div.description A pointer to another product (or multiple products) for which this product is a consumable.