div.form-element
  label(for="isFamilyFriendly") isFamilyFriendly
  input(type="text", id="isFamilyFriendly", name="isFamilyFriendly", placeholder="isFamilyFriendly")
  div.description Indicates whether this content is family friendly.