div.form-element
  label(for="isPartOf") isPartOf
  input(type="text", id="isPartOf", name="isPartOf", placeholder="isPartOf")
  div.description Indicates the collection or gallery to which the item belongs.