div.form-element
  label(for="isProprietary") isProprietary
  input(type="text", id="isProprietary", name="isProprietary", placeholder="isProprietary")
  div.description True if this item&#39;s name is a proprietary&#x2F;brand name (vs. generic name).