div.form-element
  label(for="isRelatedTo") isRelatedTo
  input(type="text", id="isRelatedTo", name="isRelatedTo", placeholder="isRelatedTo")
  div.description A pointer to another, somehow related product (or multiple products).