div.form-element
  label(for="isSimilarTo") isSimilarTo
  input(type="text", id="isSimilarTo", name="isSimilarTo", placeholder="isSimilarTo")
  div.description A pointer to another, functionally similar product (or multiple products).