div.form-element
  label(for="isVariantOf") isVariantOf
  input(type="text", id="isVariantOf", name="isVariantOf", placeholder="isVariantOf")
  div.description A pointer to a base product from which this product is a variant. It is safe to infer that the variant inherits all product features from the base model, unless defined locally. This is not transitive.