div.form-element
  label(for="itemListOrder") itemListOrder
  input(type="text", id="itemListOrder", name="itemListOrder", placeholder="itemListOrder")
  div.description Type of ordering (e.g. Ascending, Descending, Unordered).