div.form-element
  label(for="itemCondition") itemCondition
  input(type="text", id="itemCondition", name="itemCondition", placeholder="itemCondition")
  div.description A predefined value from OfferItemCondition or a textual description of the condition of the product or service, or the products or services included in the offer.