div.form-element
  label(for="labelDetails") labelDetails
  input(type="text", id="labelDetails", name="labelDetails", placeholder="labelDetails")
  div.description Link to the drug&#39;s label details.