div.form-element
  label(for="latitude") latitude
  input(type="text", id="latitude", name="latitude", placeholder="latitude")
  div.description The latitude of a location. For example &lt;code&gt;37.42242&lt;&#x2F;code&gt;.