div.form-element
  label(for="learningResourceType") learningResourceType
  input(type="text", id="learningResourceType", name="learningResourceType", placeholder="learningResourceType")
  div.description The predominant type or kind characterizing the learning resource. For example, &#39;presentation&#39;, &#39;handout&#39;.