div.form-element
  label(for="legalName") legalName
  input(type="text", id="legalName", name="legalName", placeholder="legalName")
  div.description The official name of the organization, e.g. the registered company name.