div.form-element
  label(for="legalStatus") legalStatus
  input(type="text", id="legalStatus", name="legalStatus", placeholder="legalStatus")
  div.description The drug or supplement&#39;s legal status, including any controlled substance schedules that apply.