div.form-element
  label(for="lesserOrEqual") lesserOrEqual
  input(type="text", id="lesserOrEqual", name="lesserOrEqual", placeholder="lesserOrEqual")
  div.description This ordering relation for qualitative values indicates that the subject is lesser than or equal to the object.