div.form-element
  label(for="lesser") lesser
  input(type="text", id="lesser", name="lesser", placeholder="lesser")
  div.description This ordering relation for qualitative values indicates that the subject is lesser than the object.