div.form-element
  label(for="license") license
  input(type="text", id="license", name="license", placeholder="license")
  div.description A license document that applies to this content, typically indicated by URL.