div.form-element
  label(for="line") line
  input(type="text", id="line", name="line", placeholder="line")
  div.description A line is a point-to-point path consisting of two or more points. A line is expressed as a series of two or more point objects separated by space.