div.form-element
  label(for="lodgingUnitType") lodgingUnitType
  input(type="text", id="lodgingUnitType", name="lodgingUnitType", placeholder="lodgingUnitType")
  div.description Textual description of the unit type (including suite vs. room, size of bed, etc.).