div.form-element
  label(for="lodgingUnitDescription") lodgingUnitDescription
  input(type="text", id="lodgingUnitDescription", name="lodgingUnitDescription", placeholder="lodgingUnitDescription")
  div.description A full description of the lodging unit.