div.form-element
  label(for="mainContentOfPage") mainContentOfPage
  input(type="text", id="mainContentOfPage", name="mainContentOfPage", placeholder="mainContentOfPage")
  div.description Indicates if this web page element is the main subject of the page.