div.form-element
  label(for="makesOffer") makesOffer
  input(type="text", id="makesOffer", name="makesOffer", placeholder="makesOffer")
  div.description A pointer to products or services offered by the organization or person.