div.form-element
  label(for="mapType") mapType
  input(type="text", id="mapType", name="mapType", placeholder="mapType")
  div.description Indicates the kind of Map, from the MapCategoryType Enumeration.