div.form-element
  label(for="maximumIntake") maximumIntake
  input(type="text", id="maximumIntake", name="maximumIntake", placeholder="maximumIntake")
  div.description Recommended intake of this supplement for a given population as defined by a specific recommending authority.