div.form-element
  label(for="mechanismOfAction") mechanismOfAction
  input(type="text", id="mechanismOfAction", name="mechanismOfAction", placeholder="mechanismOfAction")
  div.description The specific biochemical interaction through which this drug or supplement produces its pharmacological effect.