div.form-element
  label(for="medicineSystem") medicineSystem
  input(type="text", id="medicineSystem", name="medicineSystem", placeholder="medicineSystem")
  div.description The system of medicine that includes this MedicalEntity, for example &#39;evidence-based&#39;, &#39;homeopathic&#39;, &#39;chiropractic&#39;, etc.