div.form-element
  label(for="medicalSpecialty") medicalSpecialty
  input(type="text", id="medicalSpecialty", name="medicalSpecialty", placeholder="medicalSpecialty")
  div.description A medical specialty of the provider.