div.form-element
  label(for="members") members
  input(type="text", id="members", name="members", placeholder="members")
  div.description A member of this organization (legacy spelling; see singular form, member).