div.form-element
  label(for="member") member
  input(type="text", id="member", name="member", placeholder="member")
  div.description A member of an Organization or a ProgramMembership. Organizations can be members of organizations; ProgramMembership is typically for individuals.