div.form-element
  label(for="memoryRequirements") memoryRequirements
  input(type="text", id="memoryRequirements", name="memoryRequirements", placeholder="memoryRequirements")
  div.description Minimum memory requirements.