div.form-element
  label(for="merchant") merchant
  input(type="text", id="merchant", name="merchant", placeholder="merchant")
  div.description The party taking the order (e.g. Amazon.com is a merchant for many sellers).