div.form-element
  label(for="model") model
  input(type="text", id="model", name="model", placeholder="model")
  div.description The model of the product. Use with the URL of a ProductModel or a textual representation of the model identifier. The URL of the ProductModel can be from an external source. It is recommended to additionally provide strong product identifiers via the gtin8&#x2F;gtin13&#x2F;gtin14 and mpn properties.