div.form-element
  label(for="multipleValues") multipleValues
  input(type="text", id="multipleValues", name="multipleValues", placeholder="multipleValues")
  div.description Whether multiple values are allowed for the property.  Default is false.