div.form-element
  label(for="naics") naics
  input(type="text", id="naics", name="naics", placeholder="naics")
  div.description The North American Industry Classification System (NAICS) code for a particular organization or business person.