div.form-element
  label(for="namedPosition") namedPosition
  input(type="text", id="namedPosition", name="namedPosition", placeholder="namedPosition")
  div.description A position played, performed or filled by a person or organization, as part of an organization. For example, an athlete in a SportsTeam might play in the position named &#39;Quarterback&#39;.