div.form-element
  label(for="naturalProgression") naturalProgression
  input(type="text", id="naturalProgression", name="naturalProgression", placeholder="naturalProgression")
  div.description The expected progression of the condition if it is not treated and allowed to progress naturally.