div.form-element
  label(for="nonEqual") nonEqual
  input(type="text", id="nonEqual", name="nonEqual", placeholder="nonEqual")
  div.description This ordering relation for qualitative values indicates that the subject is not equal to the object.