div.form-element
  label(for="nonProprietaryName") nonProprietaryName
  input(type="text", id="nonProprietaryName", name="nonProprietaryName", placeholder="nonProprietaryName")
  div.description The generic name of this drug or supplement.