div.form-element
  label(for="normalRange") normalRange
  input(type="text", id="normalRange", name="normalRange", placeholder="normalRange")
  div.description Range of acceptable values for a typical patient, when applicable.