div.form-element
  label(for="numberOfSeasons") numberOfSeasons
  input(type="text", id="numberOfSeasons", name="numberOfSeasons", placeholder="numberOfSeasons")
  div.description The number of seasons in this series.