div.form-element
  label(for="numberOfEpisodes") numberOfEpisodes
  input(type="text", id="numberOfEpisodes", name="numberOfEpisodes", placeholder="numberOfEpisodes")
  div.description The number of episodes in this season or series.