div.form-element
  label(for="numberOfPages") numberOfPages
  input(type="text", id="numberOfPages", name="numberOfPages", placeholder="numberOfPages")
  div.description The number of pages in the book.