div.form-element
  label(for="numChildren") numChildren
  input(type="text", id="numChildren", name="numChildren", placeholder="numChildren")
  div.description The number of children staying in the unit.