div.form-element
  label(for="object") object
  input(type="text", id="object", name="object", placeholder="object")
  div.description The object upon the action is carried out, whose state is kept intact or changed. Also known as the semantic roles patient, affected or undergoer (which change their state) or theme (which doesn&#39;t). e.g. John read *a book*.