div.form-element
  label(for="occupationalCategory") occupationalCategory
  input(type="text", id="occupationalCategory", name="occupationalCategory", placeholder="occupationalCategory")
  div.description Category or categories describing the job. Use BLS O*NET-SOC taxonomy: http:&#x2F;&#x2F;www.onetcenter.org&#x2F;taxonomy.html. Ideally includes textual label and formal code, with the property repeated for each applicable value.