div.form-element
  label(for="offers") offers
  input(type="text", id="offers", name="offers", placeholder="offers")
  div.description An offer to provide this item&amp;#x2014;for example, an offer to sell a product, rent the DVD of a movie, or give away tickets to an event.