div.form-element
  label(for="openingHoursSpecification") openingHoursSpecification
  input(type="text", id="openingHoursSpecification", name="openingHoursSpecification", placeholder="openingHoursSpecification")
  div.description The opening hours of a certain place.