div.form-element
  label(for="opens") opens
  input(type="text", id="opens", name="opens", placeholder="opens")
  div.description The opening hour of the place or service on the given day(s) of the week.