div.form-element
  label(for="operatingSystem") operatingSystem
  input(type="text", id="operatingSystem", name="operatingSystem", placeholder="operatingSystem")
  div.description Operating systems supported (Windows 7, OSX 10.6, Android 1.6).