div.form-element
  label(for="opponent") opponent
  input(type="text", id="opponent", name="opponent", placeholder="opponent")
  div.description A sub property of participant. The opponent on this action.