div.form-element
  label(for="originatesFrom") originatesFrom
  input(type="text", id="originatesFrom", name="originatesFrom", placeholder="originatesFrom")
  div.description The vasculature the lymphatic structure originates, or afferents, from.