div.form-element
  label(for="ownedThrough") ownedThrough
  input(type="text", id="ownedThrough", name="ownedThrough", placeholder="ownedThrough")
  div.description The date and time of giving up ownership on the product.