div.form-element
  label(for="parentItem") parentItem
  input(type="text", id="parentItem", name="parentItem", placeholder="parentItem")
  div.description The parent of a question, answer or item in general.