div.form-element
  label(for="parents") parents
  input(type="text", id="parents", name="parents", placeholder="parents")
  div.description A parents of the person (legacy spelling; see singular form, parent).