div.form-element
  label(for="partySize") partySize
  input(type="text", id="partySize", name="partySize", placeholder="partySize")
  div.description Number of people the reservation should accommodate.