div.form-element
  label(for="partOfEpisode") partOfEpisode
  input(type="text", id="partOfEpisode", name="partOfEpisode", placeholder="partOfEpisode")
  div.description The episode to which this clip belongs.