div.form-element
  label(for="partOfSeason") partOfSeason
  input(type="text", id="partOfSeason", name="partOfSeason", placeholder="partOfSeason")
  div.description The season to which this episode belongs.