div.form-element
  label(for="partOfSystem") partOfSystem
  input(type="text", id="partOfSystem", name="partOfSystem", placeholder="partOfSystem")
  div.description The anatomical or organ system that this structure is part of.