div.form-element
  label(for="partOfTVSeries") partOfTVSeries
  input(type="text", id="partOfTVSeries", name="partOfTVSeries", placeholder="partOfTVSeries")
  div.description The TV series to which this episode or season belongs. (legacy form; partOfSeries is preferred)