div.form-element
  label(for="partOfSeries") partOfSeries
  input(type="text", id="partOfSeries", name="partOfSeries", placeholder="partOfSeries")
  div.description The series to which this episode or season belongs.