div.form-element
  label(for="participant") participant
  input(type="text", id="participant", name="participant", placeholder="participant")
  div.description Other co-agents that participated in the action indirectly. e.g. John wrote a book with *Steve*.