div.form-element
  label(for="paymentAccepted") paymentAccepted
  input(type="text", id="paymentAccepted", name="paymentAccepted", placeholder="paymentAccepted")
  div.description Cash, credit card, etc.