div.form-element
  label(for="performers") performers
  input(type="text", id="performers", name="performers", placeholder="performers")
  div.description The main performer or performers of the event&amp;#x2014;for example, a presenter, musician, or actor (legacy spelling; see singular form, performer).