div.form-element
  label(for="performerIn") performerIn
  input(type="text", id="performerIn", name="performerIn", placeholder="performerIn")
  div.description Event that this person is a performer or participant in.