div.form-element
  label(for="permitAudience") permitAudience
  input(type="text", id="permitAudience", name="permitAudience", placeholder="permitAudience")
  div.description The target audience for this permit.