div.form-element
  label(for="permissions") permissions
  input(type="text", id="permissions", name="permissions", placeholder="permissions")
  div.description Permission(s) required to run the app (for example, a mobile app may require full internet access or may run only on wifi).