div.form-element
  label(for="photos") photos
  input(type="text", id="photos", name="photos", placeholder="photos")
  div.description Photographs of this place (legacy spelling; see singular form, photo).