div.form-element
  label(for="physiologicalBenefits") physiologicalBenefits
  input(type="text", id="physiologicalBenefits", name="physiologicalBenefits", placeholder="physiologicalBenefits")
  div.description Specific physiologic benefits associated to the plan.