div.form-element
  label(for="pickupLocation") pickupLocation
  input(type="text", id="pickupLocation", name="pickupLocation", placeholder="pickupLocation")
  div.description Where a taxi will pick up a passenger or a rental car can be picked up.