div.form-element
  label(for="playerType") playerType
  input(type="text", id="playerType", name="playerType", placeholder="playerType")
  div.description Player type required&amp;#x2014;for example, Flash or Silverlight.