div.form-element
  label(for="population") population
  input(type="text", id="population", name="population", placeholder="population")
  div.description Any characteristics of the population used in the study, e.g. &#39;males under 65&#39;.