div.form-element
  label(for="position") position
  input(type="text", id="position", name="position", placeholder="position")
  div.description Free text to define other than pure numerical ranking of an episode or a season in an ordered list of items (further formatting restrictions may apply within particular user groups).