div.form-element
  label(for="possibleTreatment") possibleTreatment
  input(type="text", id="possibleTreatment", name="possibleTreatment", placeholder="possibleTreatment")
  div.description A possible treatment to address this condition, sign or symptom.