div.form-element
  label(for="potentialAction") potentialAction
  input(type="text", id="potentialAction", name="potentialAction", placeholder="potentialAction")
  div.description Indicates a potential Action, which describes an idealized action in which this thing would play an &#39;object&#39; role.