div.form-element
  label(for="pregnancyWarning") pregnancyWarning
  input(type="text", id="pregnancyWarning", name="pregnancyWarning", placeholder="pregnancyWarning")
  div.description Any precaution, guidance, contraindication, etc. related to this drug&#39;s use during pregnancy.