div.form-element
  label(for="pregnancyCategory") pregnancyCategory
  input(type="text", id="pregnancyCategory", name="pregnancyCategory", placeholder="pregnancyCategory")
  div.description Pregnancy category of this drug.