div.form-element
  label(for="preparation") preparation
  input(type="text", id="preparation", name="preparation", placeholder="preparation")
  div.description Typical preparation that a patient must undergo before having the procedure performed.