div.form-element
  label(for="prescribingInfo") prescribingInfo
  input(type="text", id="prescribingInfo", name="prescribingInfo", placeholder="prescribingInfo")
  div.description Link to prescribing information for the drug.