div.form-element
  label(for="priceSpecification") priceSpecification
  input(type="text", id="priceSpecification", name="priceSpecification", placeholder="priceSpecification")
  div.description One or more detailed price specifications, indicating the unit price and delivery or payment charges.