div.form-element
  label(for="priceType") priceType
  input(type="text", id="priceType", name="priceType", placeholder="priceType")
  div.description A short text or acronym indicating multiple price specifications for the same offer, e.g. SRP for the suggested retail price or INVOICE for the invoice price, mostly used in the car industry.