div.form-element
  label(for="price") price
  input(type="text", id="price", name="price", placeholder="price")
  div.description The offer price of a product, or of a price component when attached to PriceSpecification and its subtypes.