div.form-element
  label(for="priceCurrency") priceCurrency
  input(type="text", id="priceCurrency", name="priceCurrency", placeholder="priceCurrency")
  div.description The currency (in 3-letter ISO 4217 format) of the price or a price component, when attached to PriceSpecification and its subtypes.