div.form-element
  label(for="priceValidUntil") priceValidUntil
  input(type="text", id="priceValidUntil", name="priceValidUntil", placeholder="priceValidUntil")
  div.description The date after which the price is no longer available.