div.form-element
  label(for="priceRange") priceRange
  input(type="text", id="priceRange", name="priceRange", placeholder="priceRange")
  div.description The price range of the business, for example &lt;code&gt;$$$&lt;&#x2F;code&gt;.