div.form-element
  label(for="primaryPrevention") primaryPrevention
  input(type="text", id="primaryPrevention", name="primaryPrevention", placeholder="primaryPrevention")
  div.description A preventative therapy used to prevent an initial occurrence of the medical condition, such as vaccination.