div.form-element
  label(for="primaryImageOfPage") primaryImageOfPage
  input(type="text", id="primaryImageOfPage", name="primaryImageOfPage", placeholder="primaryImageOfPage")
  div.description Indicates the main image on the page.