div.form-element
  label(for="printPage") printPage
  input(type="text", id="printPage", name="printPage", placeholder="printPage")
  div.description If this NewsArticle appears in print, this field indicates the name of the page on which the article is found. Please note that this field is intended for the exact page name (e.g. A5, B18).