div.form-element
  label(for="printColumn") printColumn
  input(type="text", id="printColumn", name="printColumn", placeholder="printColumn")
  div.description The number of the column in which the NewsArticle appears in the print edition.