div.form-element
  label(for="printSection") printSection
  input(type="text", id="printSection", name="printSection", placeholder="printSection")
  div.description If this NewsArticle appears in print, this field indicates the print section in which the article appeared.