div.form-element
  label(for="procedureType") procedureType
  input(type="text", id="procedureType", name="procedureType", placeholder="procedureType")
  div.description The type of procedure, for example Surgical, Noninvasive, or Percutaneous.