div.form-element
  label(for="procedure") procedure
  input(type="text", id="procedure", name="procedure", placeholder="procedure")
  div.description A description of the procedure involved in setting up, using, and&#x2F;or installing the device.