div.form-element
  label(for="processingTime") processingTime
  input(type="text", id="processingTime", name="processingTime", placeholder="processingTime")
  div.description Estimated processing time for the service using this channel.