div.form-element
  label(for="processorRequirements") processorRequirements
  input(type="text", id="processorRequirements", name="processorRequirements", placeholder="processorRequirements")
  div.description Processor architecture required to run the application (e.g. IA64).