div.form-element
  label(for="productID") productID
  input(type="text", id="productID", name="productID", placeholder="productID")
  div.description The product identifier, such as ISBN. For example: &lt;code&gt;&amp;lt;meta itemprop=&#39;productID&#39; content=&#39;isbn:123-456-789&#39;&#x2F;&amp;gt;&lt;&#x2F;code&gt;.