div.form-element
  label(for="productSupported") productSupported
  input(type="text", id="productSupported", name="productSupported", placeholder="productSupported")
  div.description The product or service this support contact point is related to (such as product support for a particular product line). This can be a specific product or product line (e.g. &quot;iPhone&quot;) or a general category of products or services (e.g. &quot;smartphones&quot;).