div.form-element
  label(for="proficiencyLevel") proficiencyLevel
  input(type="text", id="proficiencyLevel", name="proficiencyLevel", placeholder="proficiencyLevel")
  div.description Proficiency needed for this content; expected values: &#39;Beginner&#39;, &#39;Expert&#39;.