div.form-element
  label(for="proprietaryName") proprietaryName
  input(type="text", id="proprietaryName", name="proprietaryName", placeholder="proprietaryName")
  div.description Proprietary name given to the diet plan, typically by its originator or creator.