div.form-element
  label(for="proteinContent") proteinContent
  input(type="text", id="proteinContent", name="proteinContent", placeholder="proteinContent")
  div.description The number of grams of protein.