div.form-element
  label(for="providesService") providesService
  input(type="text", id="providesService", name="providesService", placeholder="providesService")
  div.description The service provided by this channel.