div.form-element
  label(for="publishingPrinciples") publishingPrinciples
  input(type="text", id="publishingPrinciples", name="publishingPrinciples", placeholder="publishingPrinciples")
  div.description Link to page describing the editorial principles of the organization primarily responsible for the creation of the CreativeWork.