div.form-element
  label(for="publicationType") publicationType
  input(type="text", id="publicationType", name="publicationType", placeholder="publicationType")
  div.description The type of the medical article, taken from the US NLM MeSH &lt;a href=http:&#x2F;&#x2F;www.nlm.nih.gov&#x2F;mesh&#x2F;pubtypes.html&gt;publication type catalog.