div.form-element
  label(for="publishedOn") publishedOn
  input(type="text", id="publishedOn", name="publishedOn", placeholder="publishedOn")
  div.description A broadcast service associated with the publication event.