div.form-element
  label(for="publication") publication
  input(type="text", id="publication", name="publication", placeholder="publication")
  div.description A publication event associated with the episode, clip or media object.