div.form-element
  label(for="purpose") purpose
  input(type="text", id="purpose", name="purpose", placeholder="purpose")
  div.description A goal towards an action is taken. Can be concrete or abstract.