div.form-element
  label(for="qualifications") qualifications
  input(type="text", id="qualifications", name="qualifications", placeholder="qualifications")
  div.description Specific qualifications required for this role.