div.form-element
  label(for="readonlyValue") readonlyValue
  input(type="text", id="readonlyValue", name="readonlyValue", placeholder="readonlyValue")
  div.description Whether or not a property is mutable.  Default is false. Specifying this for a property that also has a value makes it act similar to a &quot;hidden&quot; input in an HTML form.