div.form-element
  label(for="recipeCategory") recipeCategory
  input(type="text", id="recipeCategory", name="recipeCategory", placeholder="recipeCategory")
  div.description The category of the recipe&amp;#x2014;for example, appetizer, entree, etc.