div.form-element
  label(for="recipeCuisine") recipeCuisine
  input(type="text", id="recipeCuisine", name="recipeCuisine", placeholder="recipeCuisine")
  div.description The cuisine of the recipe (for example, French or Ethiopian).