div.form-element
  label(for="recipeYield") recipeYield
  input(type="text", id="recipeYield", name="recipeYield", placeholder="recipeYield")
  div.description The quantity produced by the recipe (for example, number of people served, number of servings, etc).