div.form-element
  label(for="recipe") recipe
  input(type="text", id="recipe", name="recipe", placeholder="recipe")
  div.description A sub property of instrument. The recipe&#x2F;instructions used to perform the action.