div.form-element
  label(for="recommendationStrength") recommendationStrength
  input(type="text", id="recommendationStrength", name="recommendationStrength", placeholder="recommendationStrength")
  div.description Strength of the guideline&#39;s recommendation (e.g. &#39;class I&#39;).