div.form-element
  label(for="recommendedIntake") recommendedIntake
  input(type="text", id="recommendedIntake", name="recommendedIntake", placeholder="recommendedIntake")
  div.description Recommended intake of this supplement for a given population as defined by a specific recommending authority.