div.form-element
  label(for="recognizingAuthority") recognizingAuthority
  input(type="text", id="recognizingAuthority", name="recognizingAuthority", placeholder="recognizingAuthority")
  div.description If applicable, the organization that officially recognizes this entity as part of its endorsed system of medicine.