div.form-element
  label(for="regionsAllowed") regionsAllowed
  input(type="text", id="regionsAllowed", name="regionsAllowed", placeholder="regionsAllowed")
  div.description The regions where the media is allowed. If not specified, then it&#39;s assumed to be allowed everywhere. Specify the countries in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_3166&#39;&gt;ISO 3166 format&lt;&#x2F;a&gt;.