div.form-element
  label(for="regionDrained") regionDrained
  input(type="text", id="regionDrained", name="regionDrained", placeholder="regionDrained")
  div.description The anatomical or organ system drained by this vessel; generally refers to a specific part of an organ.