div.form-element
  label(for="relatedTherapy") relatedTherapy
  input(type="text", id="relatedTherapy", name="relatedTherapy", placeholder="relatedTherapy")
  div.description A medical therapy related to this anatomy.