div.form-element
  label(for="relatedCondition") relatedCondition
  input(type="text", id="relatedCondition", name="relatedCondition", placeholder="relatedCondition")
  div.description A medical condition associated with this anatomy.