div.form-element
  label(for="relatedStructure") relatedStructure
  input(type="text", id="relatedStructure", name="relatedStructure", placeholder="relatedStructure")
  div.description Related anatomical structure(s) that are not part of the system but relate or connect to it, such as vascular bundles associated with an organ system.