div.form-element
  label(for="relatedDrug") relatedDrug
  input(type="text", id="relatedDrug", name="relatedDrug", placeholder="relatedDrug")
  div.description Any other drug related to this one, for example commonly-prescribed alternatives.