div.form-element
  label(for="relatedAnatomy") relatedAnatomy
  input(type="text", id="relatedAnatomy", name="relatedAnatomy", placeholder="relatedAnatomy")
  div.description Anatomical systems or structures that relate to the superficial anatomy.