div.form-element
  label(for="releaseDate") releaseDate
  input(type="text", id="releaseDate", name="releaseDate", placeholder="releaseDate")
  div.description The release date of a product or product model. This can be used to distinguish the exact variant of a product.