div.form-element
  label(for="repetitions") repetitions
  input(type="text", id="repetitions", name="repetitions", placeholder="repetitions")
  div.description Number of times one should repeat the activity.