div.form-element
  label(for="representativeOfPage") representativeOfPage
  input(type="text", id="representativeOfPage", name="representativeOfPage", placeholder="representativeOfPage")
  div.description Indicates whether this image is representative of the content of the page.