div.form-element
  label(for="requiredMinAge") requiredMinAge
  input(type="text", id="requiredMinAge", name="requiredMinAge", placeholder="requiredMinAge")
  div.description Audiences defined by a person&#39;s minimum age.