div.form-element
  label(for="requiredGender") requiredGender
  input(type="text", id="requiredGender", name="requiredGender", placeholder="requiredGender")
  div.description Audiences defined by a person&#39;s gender.