div.form-element
  label(for="requirements") requirements
  input(type="text", id="requirements", name="requirements", placeholder="requirements")
  div.description Component dependency requirements for application. This includes runtime environments and shared libraries that are not included in the application distribution package, but required to run the application (Examples: DirectX, Java or .NET runtime).