div.form-element
  label(for="requiresSubscription") requiresSubscription
  input(type="text", id="requiresSubscription", name="requiresSubscription", placeholder="requiresSubscription")
  div.description Indicates if use of the media require a subscription  (either paid or free). Allowed values are &lt;code&gt;true&lt;&#x2F;code&gt; or &lt;code&gt;false&lt;&#x2F;code&gt; (note that an earlier version had &#39;yes&#39;, &#39;no&#39;).