div.form-element
  label(for="requiredMaxAge") requiredMaxAge
  input(type="text", id="requiredMaxAge", name="requiredMaxAge", placeholder="requiredMaxAge")
  div.description Audiences defined by a person&#39;s maximum age.