div.form-element
  label(for="reservationId") reservationId
  input(type="text", id="reservationId", name="reservationId", placeholder="reservationId")
  div.description A unique identifier for the reservation.