div.form-element
  label(for="reservationStatus") reservationStatus
  input(type="text", id="reservationStatus", name="reservationStatus", placeholder="reservationStatus")
  div.description The current status of the reservation.