div.form-element
  label(for="reservationFor") reservationFor
  input(type="text", id="reservationFor", name="reservationFor", placeholder="reservationFor")
  div.description The thing -- flight, event, restaurant,etc. being reserved.