div.form-element
  label(for="responsibilities") responsibilities
  input(type="text", id="responsibilities", name="responsibilities", placeholder="responsibilities")
  div.description Responsibilities associated with this role.