div.form-element
  label(for="restPeriods") restPeriods
  input(type="text", id="restPeriods", name="restPeriods", placeholder="restPeriods")
  div.description How often one should break from the activity.