div.form-element
  label(for="riskFactor") riskFactor
  input(type="text", id="riskFactor", name="riskFactor", placeholder="riskFactor")
  div.description A modifiable or non-modifiable factor that increases the risk of a patient contracting this condition, e.g. age,  coexisting condition.