div.form-element
  label(for="safetyConsideration") safetyConsideration
  input(type="text", id="safetyConsideration", name="safetyConsideration", placeholder="safetyConsideration")
  div.description Any potential safety concern associated with the supplement. May include interactions with other drugs and foods, pregnancy, breastfeeding, known adverse reactions, and documented efficacy of the supplement.