div.form-element
  label(for="sampleType") sampleType
  input(type="text", id="sampleType", name="sampleType", placeholder="sampleType")
  div.description Full (compile ready) solution, code snippet, inline code, scripts, template.