div.form-element
  label(for="seasons") seasons
  input(type="text", id="seasons", name="seasons", placeholder="seasons")
  div.description A season in a tv&#x2F;radio series. (legacy spelling; see singular form, season)