div.form-element
  label(for="seasonNumber") seasonNumber
  input(type="text", id="seasonNumber", name="seasonNumber", placeholder="seasonNumber")
  div.description Position of the season within an ordered group of seasons.