div.form-element
  label(for="seatNumber") seatNumber
  input(type="text", id="seatNumber", name="seatNumber", placeholder="seatNumber")
  div.description The location of the reserved seat (e.g., 27).