div.form-element
  label(for="seatSection") seatSection
  input(type="text", id="seatSection", name="seatSection", placeholder="seatSection")
  div.description The section location of the reserved seat (e.g. Orchestra).