div.form-element
  label(for="secondaryPrevention") secondaryPrevention
  input(type="text", id="secondaryPrevention", name="secondaryPrevention", placeholder="secondaryPrevention")
  div.description A preventative therapy used to prevent reoccurrence of the medical condition after an initial episode of the condition.