div.form-element
  label(for="seeks") seeks
  input(type="text", id="seeks", name="seeks", placeholder="seeks")
  div.description A pointer to products or services sought by the organization or person (demand).