div.form-element
  label(for="sender") sender
  input(type="text", id="sender", name="sender", placeholder="sender")
  div.description A sub property of participant. The participant who is at the sending end of the action.