div.form-element
  label(for="sensoryUnit") sensoryUnit
  input(type="text", id="sensoryUnit", name="sensoryUnit", placeholder="sensoryUnit")
  div.description The neurological pathway extension that inputs and sends information to the brain or spinal cord.