div.form-element
  label(for="servesCuisine") servesCuisine
  input(type="text", id="servesCuisine", name="servesCuisine", placeholder="servesCuisine")
  div.description The cuisine of the restaurant.