div.form-element
  label(for="serviceType") serviceType
  input(type="text", id="serviceType", name="serviceType", placeholder="serviceType")
  div.description The type of service being offered, e.g. veterans&#39; benefits, emergency relief, etc.