div.form-element
  label(for="servingSize") servingSize
  input(type="text", id="servingSize", name="servingSize", placeholder="servingSize")
  div.description The serving size, in terms of the number of volume or mass.