div.form-element
  label(for="sku") sku
  input(type="text", id="sku", name="sku", placeholder="sku")
  div.description The Stock Keeping Unit (SKU), i.e. a merchant-specific identifier for a product or service, or the product to which the offer refers.