div.form-element
  label(for="sodiumContent") sodiumContent
  input(type="text", id="sodiumContent", name="sodiumContent", placeholder="sodiumContent")
  div.description The number of milligrams of sodium.