div.form-element
  label(for="softwareVersion") softwareVersion
  input(type="text", id="softwareVersion", name="softwareVersion", placeholder="softwareVersion")
  div.description Version of the software instance.