div.form-element
  label(for="spatial") spatial
  input(type="text", id="spatial", name="spatial", placeholder="spatial")
  div.description The range of spatial applicability of a dataset, e.g. for a dataset of New York weather, the state of New York.