div.form-element
  label(for="specialCommitments") specialCommitments
  input(type="text", id="specialCommitments", name="specialCommitments", placeholder="specialCommitments")
  div.description Any special commitments associated with this job posting. Valid entries include VeteranCommit, MilitarySpouseCommit, etc.