div.form-element
  label(for="specialty") specialty
  input(type="text", id="specialty", name="specialty", placeholder="specialty")
  div.description One of the domain specialities to which this web page&#39;s content applies.