div.form-element
  label(for="sportsEvent") sportsEvent
  input(type="text", id="sportsEvent", name="sportsEvent", placeholder="sportsEvent")
  div.description A sub property of location. The sports event where this action occurred.