div.form-element
  label(for="sportsTeam") sportsTeam
  input(type="text", id="sportsTeam", name="sportsTeam", placeholder="sportsTeam")
  div.description A sub property of participant. The sports team that participated on this action.