div.form-element
  label(for="sportsActivityLocation") sportsActivityLocation
  input(type="text", id="sportsActivityLocation", name="sportsActivityLocation", placeholder="sportsActivityLocation")
  div.description A sub property of location. The sports activity location where this action occurred.