div.form-element
  label(for="stageAsNumber") stageAsNumber
  input(type="text", id="stageAsNumber", name="stageAsNumber", placeholder="stageAsNumber")
  div.description The stage represented as a number, e.g. 3.