div.form-element
  label(for="startDate") startDate
  input(type="text", id="startDate", name="startDate", placeholder="startDate")
  div.description The start date and time of the event, role or item (in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_8601&#39;&gt;ISO 8601 date format&lt;&#x2F;a&gt;).