div.form-element
  label(for="storageRequirements") storageRequirements
  input(type="text", id="storageRequirements", name="storageRequirements", placeholder="storageRequirements")
  div.description Storage requirements (free space required).