div.form-element
  label(for="strengthUnit") strengthUnit
  input(type="text", id="strengthUnit", name="strengthUnit", placeholder="strengthUnit")
  div.description The units of an active ingredient&#39;s strength, e.g. mg.