div.form-element
  label(for="strengthValue") strengthValue
  input(type="text", id="strengthValue", name="strengthValue", placeholder="strengthValue")
  div.description The value of an active ingredient&#39;s strength, e.g. 325.