div.form-element
  label(for="structuralClass") structuralClass
  input(type="text", id="structuralClass", name="structuralClass", placeholder="structuralClass")
  div.description The name given to how bone physically connects to each other.