div.form-element
  label(for="studyLocation") studyLocation
  input(type="text", id="studyLocation", name="studyLocation", placeholder="studyLocation")
  div.description The location in which the study is taking&#x2F;took place.