div.form-element
  label(for="studyDesign") studyDesign
  input(type="text", id="studyDesign", name="studyDesign", placeholder="studyDesign")
  div.description Specifics about the observational study design (enumerated).