div.form-element
  label(for="studySubject") studySubject
  input(type="text", id="studySubject", name="studySubject", placeholder="studySubject")
  div.description A subject of the study, i.e. one of the medical conditions, therapies, devices, drugs, etc. investigated by the study.