div.form-element
  label(for="subEvent") subEvent
  input(type="text", id="subEvent", name="subEvent", placeholder="subEvent")
  div.description An Event that is part of this event. For example, a conference event includes many presentations, each of which is a subEvent of the conference.