div.form-element
  label(for="subEvents") subEvents
  input(type="text", id="subEvents", name="subEvents", placeholder="subEvents")
  div.description Events that are a part of this event. For example, a conference event includes many presentations, each subEvents of the conference (legacy spelling; see singular form, subEvent).