div.form-element
  label(for="subOrganization") subOrganization
  input(type="text", id="subOrganization", name="subOrganization", placeholder="subOrganization")
  div.description A relationship between two organizations where the first includes the second, e.g., as a subsidiary. See also: the more specific &#39;department&#39; property.