div.form-element
  label(for="subReservation") subReservation
  input(type="text", id="subReservation", name="subReservation", placeholder="subReservation")
  div.description The individual reservations included in the package. Typically a repeated property.