div.form-element
  label(for="subStructure") subStructure
  input(type="text", id="subStructure", name="subStructure", placeholder="subStructure")
  div.description Component (sub-)structure(s) that comprise this anatomical structure.