div.form-element
  label(for="subStageSuffix") subStageSuffix
  input(type="text", id="subStageSuffix", name="subStageSuffix", placeholder="subStageSuffix")
  div.description The substage, e.g. &#39;a&#39; for Stage IIIa.