div.form-element
  label(for="subtype") subtype
  input(type="text", id="subtype", name="subtype", placeholder="subtype")
  div.description A more specific type of the condition, where applicable, for example &#39;Type 1 Diabetes&#39;, &#39;Type 2 Diabetes&#39;, or &#39;Gestational Diabetes&#39; for Diabetes.