div.form-element
  label(for="successorOf") successorOf
  input(type="text", id="successorOf", name="successorOf", placeholder="successorOf")
  div.description A pointer from a newer variant of a product  to its previous, often discontinued predecessor.