div.form-element
  label(for="suggestedMinAge") suggestedMinAge
  input(type="text", id="suggestedMinAge", name="suggestedMinAge", placeholder="suggestedMinAge")
  div.description Minimal age recommended for viewing content.