div.form-element
  label(for="suggestedMaxAge") suggestedMaxAge
  input(type="text", id="suggestedMaxAge", name="suggestedMaxAge", placeholder="suggestedMaxAge")
  div.description Maximal age recommended for viewing content.