div.form-element
  label(for="suggestedAnswer") suggestedAnswer
  input(type="text", id="suggestedAnswer", name="suggestedAnswer", placeholder="suggestedAnswer")
  div.description An answer (possibly one of several, possibly incorrect) to a Question, e.g. on a Question&#x2F;Answer site.