div.form-element
  label(for="supercededBy") supercededBy
  input(type="text", id="supercededBy", name="supercededBy", placeholder="supercededBy")
  div.description Relates a property to one that supercedes it.