div.form-element
  label(for="targetDescription") targetDescription
  input(type="text", id="targetDescription", name="targetDescription", placeholder="targetDescription")
  div.description The description of a node in an established educational framework.