div.form-element
  label(for="targetPlatform") targetPlatform
  input(type="text", id="targetPlatform", name="targetPlatform", placeholder="targetPlatform")
  div.description Type of app development: phone, Metro style, desktop, XBox, etc.