div.form-element
  label(for="targetUrl") targetUrl
  input(type="text", id="targetUrl", name="targetUrl", placeholder="targetUrl")
  div.description The URL of a node in an established educational framework.