div.form-element
  label(for="targetName") targetName
  input(type="text", id="targetName", name="targetName", placeholder="targetName")
  div.description The name of a node in an established educational framework.