div.form-element
  label(for="targetProduct") targetProduct
  input(type="text", id="targetProduct", name="targetProduct", placeholder="targetProduct")
  div.description Target Operating System &#x2F; Product to which the code applies.  If applies to several versions, just the product name can be used.