div.form-element
  label(for="thumbnailUrl") thumbnailUrl
  input(type="text", id="thumbnailUrl", name="thumbnailUrl", placeholder="thumbnailUrl")
  div.description A thumbnail image relevant to the Thing.