div.form-element
  label(for="ticketToken") ticketToken
  input(type="text", id="ticketToken", name="ticketToken", placeholder="ticketToken")
  div.description Reference to an asset (e.g., Barcode, QR code image or PDF) usable for entrance.