div.form-element
  label(for="timeRequired") timeRequired
  input(type="text", id="timeRequired", name="timeRequired", placeholder="timeRequired")
  div.description Approximate or typical time it takes to work with or through this learning resource for the typical intended target audience, e.g. &#39;P30M&#39;, &#39;P1H25M&#39;.