div.form-element
  label(for="totalTime") totalTime
  input(type="text", id="totalTime", name="totalTime", placeholder="totalTime")
  div.description The total time it takes to prepare and cook the recipe, in &lt;a href=&#39;http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;ISO_8601&#39;&gt;ISO 8601 duration format&lt;&#x2F;a&gt;.