div.form-element
  label(for="totalPrice") totalPrice
  input(type="text", id="totalPrice", name="totalPrice", placeholder="totalPrice")
  div.description The total price for the reservation or ticket, including applicable taxes, shipping, etc.