div.form-element
  label(for="transFatContent") transFatContent
  input(type="text", id="transFatContent", name="transFatContent", placeholder="transFatContent")
  div.description The number of grams of trans fat.