div.form-element
  label(for="transcript") transcript
  input(type="text", id="transcript", name="transcript", placeholder="transcript")
  div.description If this MediaObject is an AudioObject or VideoObject, the transcript of that object.