div.form-element
  label(for="transmissionMethod") transmissionMethod
  input(type="text", id="transmissionMethod", name="transmissionMethod", placeholder="transmissionMethod")
  div.description How the disease spreads, either as a route or vector, for example &#39;direct contact&#39;, &#39;Aedes aegypti&#39;, etc.