div.form-element
  label(for="trialDesign") trialDesign
  input(type="text", id="trialDesign", name="trialDesign", placeholder="trialDesign")
  div.description Specifics about the trial design (enumerated).