div.form-element
  label(for="typeOfGood") typeOfGood
  input(type="text", id="typeOfGood", name="typeOfGood", placeholder="typeOfGood")
  div.description The product that this structured value is referring to.