div.form-element
  label(for="typicalAgeRange") typicalAgeRange
  input(type="text", id="typicalAgeRange", name="typicalAgeRange", placeholder="typicalAgeRange")
  div.description The typical expected age range, e.g. &#39;7-9&#39;, &#39;11-&#39;.