div.form-element
  label(for="typicalTest") typicalTest
  input(type="text", id="typicalTest", name="typicalTest", placeholder="typicalTest")
  div.description A medical test typically performed given this condition.