div.form-element
  label(for="unitCode") unitCode
  input(type="text", id="unitCode", name="unitCode", placeholder="unitCode")
  div.description The unit of measurement given using the UN&#x2F;CEFACT Common Code (3 characters).