div.form-element
  label(for="uploadDate") uploadDate
  input(type="text", id="uploadDate", name="uploadDate", placeholder="uploadDate")
  div.description Date when this media object was uploaded to this site.