div.form-element
  label(for="upvoteCount") upvoteCount
  input(type="text", id="upvoteCount", name="upvoteCount", placeholder="upvoteCount")
  div.description The number of upvotes this question has received from the community.