div.form-element
  label(for="urlTemplate") urlTemplate
  input(type="text", id="urlTemplate", name="urlTemplate", placeholder="urlTemplate")
  div.description An url template (RFC6570) that will be used to construct the target of the execution of the action.