div.form-element
  label(for="usedToDiagnose") usedToDiagnose
  input(type="text", id="usedToDiagnose", name="usedToDiagnose", placeholder="usedToDiagnose")
  div.description A condition the test is used to diagnose.