div.form-element
  label(for="validThrough") validThrough
  input(type="text", id="validThrough", name="validThrough", placeholder="validThrough")
  div.description The end of the validity of offer, price specification, or opening hours data.