div.form-element
  label(for="valueMaxLength") valueMaxLength
  input(type="text", id="valueMaxLength", name="valueMaxLength", placeholder="valueMaxLength")
  div.description Specifies the allowed range for number of characters in a literal value.