div.form-element
  label(for="valueName") valueName
  input(type="text", id="valueName", name="valueName", placeholder="valueName")
  div.description Indicates the name of the PropertyValueSpecification to be used in URL templates and form encoding in a manner analogous to HTML&#39;s input@name.