div.form-element
  label(for="valueAddedTaxIncluded") valueAddedTaxIncluded
  input(type="text", id="valueAddedTaxIncluded", name="valueAddedTaxIncluded", placeholder="valueAddedTaxIncluded")
  div.description Specifies whether the applicable value-added tax (VAT) is included in the price specification or not.