div.form-element
  label(for="valueReference") valueReference
  input(type="text", id="valueReference", name="valueReference", placeholder="valueReference")
  div.description A pointer to a secondary value that provides additional information on the original value, e.g. a reference temperature.