div.form-element
  label(for="valuePattern") valuePattern
  input(type="text", id="valuePattern", name="valuePattern", placeholder="valuePattern")
  div.description Specifies a regular expression for testing literal values according to the HTML spec.