div.form-element
  label(for="vendor") vendor
  input(type="text", id="vendor", name="vendor", placeholder="vendor")
  div.description A sub property of participant. The seller. The participant&#x2F;person&#x2F;organization that sold the object.