div.form-element
  label(for="warrantyScope") warrantyScope
  input(type="text", id="warrantyScope", name="warrantyScope", placeholder="warrantyScope")
  div.description The scope of the warranty promise.