div.form-element
  label(for="warrantyPromise") warrantyPromise
  input(type="text", id="warrantyPromise", name="warrantyPromise", placeholder="warrantyPromise")
  div.description The warranty promise(s) included in the offer.