div.form-element
  label(for="webCheckinTime") webCheckinTime
  input(type="text", id="webCheckinTime", name="webCheckinTime", placeholder="webCheckinTime")
  div.description The time when a passenger can check into the flight online.