div.form-element
  label(for="workload") workload
  input(type="text", id="workload", name="workload", placeholder="workload")
  div.description Quantitative measure of the physiologic output of the exercise; also referred to as energy expenditure.