div.form-element
  label(for="workHours") workHours
  input(type="text", id="workHours", name="workHours", placeholder="workHours")
  div.description The typical working hours for this job (e.g. 1st shift, night shift, 8am-5pm).