div.form-element
  label(for="worstRating") worstRating
  input(type="text", id="worstRating", name="worstRating", placeholder="worstRating")
  div.description The lowest value allowed in this rating system. If worstRating is omitted, 1 is assumed.