div.form-element
  label(for="yearlyRevenue") yearlyRevenue
  input(type="text", id="yearlyRevenue", name="yearlyRevenue", placeholder="yearlyRevenue")
  div.description The size of the business in annual revenue.