div.thing.AggregateOffer
  h1 AggregateOffer
  p.thing-description When a single product is associated with multiple offers (for example, the same pair of shoes is offered by different merchants), then AggregateOffer can be used.
  include ../properties/highPrice.jade
  include ../properties/lowPrice.jade
  include ../properties/offerCount.jade
  include ../properties/acceptedPaymentMethod.jade
  include ../properties/addOn.jade
  include ../properties/advanceBookingRequirement.jade
  include ../properties/aggregateRating.jade
  include ../properties/availability.jade
  include ../properties/availabilityEnds.jade
  include ../properties/availabilityStarts.jade
  include ../properties/availableAtOrFrom.jade
  include ../properties/availableDeliveryMethod.jade
  include ../properties/businessFunction.jade
  include ../properties/category.jade
  include ../properties/deliveryLeadTime.jade
  include ../properties/eligibleCustomerType.jade
  include ../properties/eligibleDuration.jade
  include ../properties/eligibleQuantity.jade
  include ../properties/eligibleRegion.jade
  include ../properties/eligibleTransactionVolume.jade
  include ../properties/gtin13.jade
  include ../properties/gtin14.jade
  include ../properties/gtin8.jade
  include ../properties/includesObject.jade
  include ../properties/inventoryLevel.jade
  include ../properties/itemCondition.jade
  include ../properties/itemOffered.jade
  include ../properties/mpn.jade
  include ../properties/price.jade
  include ../properties/priceSpecification.jade
  include ../properties/priceValidUntil.jade
  include ../properties/review.jade
  include ../properties/seller.jade
  include ../properties/serialNumber.jade
  include ../properties/sku.jade
  include ../properties/validFrom.jade
  include ../properties/validThrough.jade
  include ../properties/warranty.jade
  include ../properties/priceCurrency.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade