div.thing.AlignmentObject
  h1 AlignmentObject
  p.thing-description An intangible item that describes an alignment between a learning resource and a node in an educational framework.
  include ../properties/alignmentType.jade
  include ../properties/educationalFramework.jade
  include ../properties/targetDescription.jade
  include ../properties/targetName.jade
  include ../properties/targetUrl.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade