div.thing.BloodTest
  h1 BloodTest
  p.thing-description A medical test performed on a sample of a patient's blood.
  include ../properties/affectedBy.jade
  include ../properties/normalRange.jade
  include ../properties/signDetected.jade
  include ../properties/usedToDiagnose.jade
  include ../properties/usesDevice.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade