div.thing.BroadcastService
  h1 BroadcastService
  p.thing-description A delivery service through which content is provided via broadcast over the air or online.
  include ../properties/area.jade
  include ../properties/broadcaster.jade
  include ../properties/parentService.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade