div.thing.Bus Trip
  h1 Bus Trip
  p.thing-description
    A trip on a commercial bus line.
    include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade