div.thing.BusinessEvent
  h1 BusinessEvent
  p.thing-description Event type: Business event.
  include ../properties/organizer.jade
  include ../properties/attendee.jade
  include ../properties/doorTime.jade
  include ../properties/duration.jade
  include ../properties/endDate.jade
  include ../properties/eventStatus.jade
  include ../properties/location.jade
  include ../properties/offers.jade
  include ../properties/performer.jade
  include ../properties/previousStartDate.jade
  include ../properties/startDate.jade
  include ../properties/subEvent.jade
  include ../properties/superEvent.jade
  include ../properties/typicalAgeRange.jade
  include ../properties/workPerformed.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade