div.thing.BusinessEntityType
  h1 BusinessEntityType
  p.thing-description A business entity type is a conceptual entity representing the legal form, the size, the main line of business, the position in the value chain, or any combination thereof, of an organization or business person.

    Commonly used values:

    http://purl.org/goodrelations/v1#Business
    http://purl.org/goodrelations/v1#Enduser
    http://purl.org/goodrelations/v1#PublicInstitution
    http://purl.org/goodrelations/v1#Reseller

    		
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade