div.thing.ContactPointOption
  h1 ContactPointOption
  p.thing-description Enumerated options related to a ContactPoint
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade