div.thing.DDxElement
  h1 DDxElement
  p.thing-description An alternative, closely-related condition typically considered later in the differential diagnosis process along with the signs that are used to distinguish it.
  include ../properties/diagnosis.jade
  include ../properties/distinguishingSign.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade