div.thing.Demand
  h1 Demand
  p.thing-description A demand entity represents the public, not necessarily binding, not necessarily exclusive, announcement by an organization or person to seek a certain type of goods or services. For describing demand using this type, the very same properties used for Offer apply.
  include ../properties/acceptedPaymentMethod.jade
  include ../properties/advanceBookingRequirement.jade
  include ../properties/availability.jade
  include ../properties/availabilityEnds.jade
  include ../properties/availabilityStarts.jade
  include ../properties/availableAtOrFrom.jade
  include ../properties/availableDeliveryMethod.jade
  include ../properties/businessFunction.jade
  include ../properties/deliveryLeadTime.jade
  include ../properties/eligibleCustomerType.jade
  include ../properties/eligibleDuration.jade
  include ../properties/eligibleQuantity.jade
  include ../properties/eligibleRegion.jade
  include ../properties/eligibleTransactionVolume.jade
  include ../properties/gtin13.jade
  include ../properties/gtin14.jade
  include ../properties/gtin8.jade
  include ../properties/includesObject.jade
  include ../properties/inventoryLevel.jade
  include ../properties/itemCondition.jade
  include ../properties/itemOffered.jade
  include ../properties/mpn.jade
  include ../properties/priceSpecification.jade
  include ../properties/seller.jade
  include ../properties/serialNumber.jade
  include ../properties/sku.jade
  include ../properties/validFrom.jade
  include ../properties/validThrough.jade
  include ../properties/warranty.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade