div.thing.DietarySupplement
  h1 DietarySupplement
  p.thing-description A product taken by mouth that contains a dietary ingredient intended to supplement the diet. Dietary ingredients may include vitamins, minerals, herbs or other botanicals, amino acids, and substances such as enzymes, organ tissues, glandulars and metabolites.
  include ../properties/activeIngredient.jade
  include ../properties/background.jade
  include ../properties/dosageForm.jade
  include ../properties/isProprietary.jade
  include ../properties/legalStatus.jade
  include ../properties/manufacturer.jade
  include ../properties/maximumIntake.jade
  include ../properties/mechanismOfAction.jade
  include ../properties/nonProprietaryName.jade
  include ../properties/recommendedIntake.jade
  include ../properties/safetyConsideration.jade
  include ../properties/targetPopulation.jade
  include ../properties/adverseOutcome.jade
  include ../properties/contraindication.jade
  include ../properties/duplicateTherapy.jade
  include ../properties/indication.jade
  include ../properties/seriousAdverseOutcome.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade