div.thing.DrugStrength
  h1 DrugStrength
  p.thing-description A specific strength in which a medical drug is available in a specific country.
  include ../properties/activeIngredient.jade
  include ../properties/availableIn.jade
  include ../properties/strengthUnit.jade
  include ../properties/strengthValue.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade