div.thing.Drug
  h1 Drug
  p.thing-description A chemical or biologic substance, used as a medical therapy, that has a physiological effect on an organism.
  include ../properties/activeIngredient.jade
  include ../properties/administrationRoute.jade
  include ../properties/alcoholWarning.jade
  include ../properties/availableStrength.jade
  include ../properties/breastfeedingWarning.jade
  include ../properties/clincalPharmacology.jade
  include ../properties/cost.jade
  include ../properties/dosageForm.jade
  include ../properties/doseSchedule.jade
  include ../properties/drugClass.jade
  include ../properties/foodWarning.jade
  include ../properties/interactingDrug.jade
  include ../properties/isAvailableGenerically.jade
  include ../properties/isProprietary.jade
  include ../properties/labelDetails.jade
  include ../properties/legalStatus.jade
  include ../properties/manufacturer.jade
  include ../properties/mechanismOfAction.jade
  include ../properties/nonProprietaryName.jade
  include ../properties/overdosage.jade
  include ../properties/pregnancyCategory.jade
  include ../properties/pregnancyWarning.jade
  include ../properties/prescribingInfo.jade
  include ../properties/prescriptionStatus.jade
  include ../properties/relatedDrug.jade
  include ../properties/warning.jade
  include ../properties/adverseOutcome.jade
  include ../properties/contraindication.jade
  include ../properties/duplicateTherapy.jade
  include ../properties/indication.jade
  include ../properties/seriousAdverseOutcome.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade