div.thing.Energy
  h1 Energy
  p.thing-description Properties that take Energy as values are of the form '&lt;Number&gt; &lt;Energy unit of measure&gt;'
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade