div.thing.EntryPoint
  h1 EntryPoint
  p.thing-description
    An entry point, within some Web-based protocol.
    include ../properties/httpMethod.jade
  include ../properties/encodingType.jade
  include ../properties/contentType.jade
  include ../properties/application.jade
  include ../properties/urlTemplate.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade