div.thing.Flight
  h1 Flight
  p.thing-description
    An airline flight.
    include ../properties/carrier.jade
  include ../properties/provider.jade
  include ../properties/flightNumber.jade
  include ../properties/departureTime.jade
  include ../properties/arrivalTime.jade
  include ../properties/departureAirport.jade
  include ../properties/departureAirport.jade
  include ../properties/departureGate.jade
  include ../properties/arrivalGate.jade
  include ../properties/departureTerminal.jade
  include ../properties/arrivalTerminal.jade
  include ../properties/aircraft.jade
  include ../properties/mealService.jade
  include ../properties/estimatedFlightDuration.jade
  include ../properties/flightDistance.jade
  include ../properties/webCheckinTime.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade