div.thing.GeoCoordinates
  h1 GeoCoordinates
  p.thing-description The geographic coordinates of a place or event.
  include ../properties/elevation.jade
  include ../properties/latitude.jade
  include ../properties/longitude.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade