div.thing.GiveAction
  h1 GiveAction
  p.thing-description
    The act of transferring ownership of an object to a destination. Reciprocal of TakeAction.<p>Related actions:</p><ul><li><a href="http://schema.org/TakeAction">TakeAction</a>: Reciprocal of GiveAction.</li><li><a href="http://schema.org/SendAction">SendAction</a>: Unlike SendAction, GiveAction implies that ownership is being transferred (e.g. I may send my laptop to you, but that doesn't mean I'm giving it to you).</li></ul>
    include ../properties/recipient.jade
  include ../properties/fromLocation.jade
  include ../properties/toLocation.jade
  include ../properties/agent.jade
  include ../properties/endTime.jade
  include ../properties/instrument.jade
  include ../properties/location.jade
  include ../properties/object.jade
  include ../properties/participant.jade
  include ../properties/result.jade
  include ../properties/startTime.jade
  include ../properties/actionStatus.jade
  include ../properties/target.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade