div.thing.GovernmentPermit
  h1 GovernmentPermit
  p.thing-description A permit issued by a government agency.
  include ../properties/issuedThrough.jade
  include ../properties/permitAudience.jade
  include ../properties/validFor.jade
  include ../properties/validFrom.jade
  include ../properties/validIn.jade
  include ../properties/validUntil.jade
  include ../properties/issuedBy.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade