div.thing.ImagingTest
  h1 ImagingTest
  p.thing-description Any medical imaging modality typically used for diagnostic purposes.
  include ../properties/imagingTechnique.jade
  include ../properties/affectedBy.jade
  include ../properties/normalRange.jade
  include ../properties/signDetected.jade
  include ../properties/usedToDiagnose.jade
  include ../properties/usesDevice.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade