div.thing.InfectiousDisease
  h1 InfectiousDisease
  p.thing-description An infectious disease is a clinically evident human disease resulting from the presence of pathogenic microbial agents, like pathogenic viruses, pathogenic bacteria, fungi, protozoa, multicellular parasites, and prions. To be considered an infectious disease, such pathogens are known to be able to cause this disease.
  include ../properties/infectiousAgent.jade
  include ../properties/infectiousAgentClass.jade
  include ../properties/transmissionMethod.jade
  include ../properties/associatedAnatomy.jade
  include ../properties/cause.jade
  include ../properties/differentialDiagnosis.jade
  include ../properties/epidemiology.jade
  include ../properties/expectedPrognosis.jade
  include ../properties/naturalProgression.jade
  include ../properties/pathophysiology.jade
  include ../properties/possibleComplication.jade
  include ../properties/possibleTreatment.jade
  include ../properties/primaryPrevention.jade
  include ../properties/riskFactor.jade
  include ../properties/secondaryPrevention.jade
  include ../properties/signOrSymptom.jade
  include ../properties/stage.jade
  include ../properties/subtype.jade
  include ../properties/typicalTest.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade