div.thing.Intangible
  h1 Intangible
  p.thing-description A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade