div.thing.JobPosting
  h1 JobPosting
  p.thing-description A listing that describes a job opening in a certain organization.
  include ../properties/baseSalary.jade
  include ../properties/benefits.jade
  include ../properties/datePosted.jade
  include ../properties/educationRequirements.jade
  include ../properties/employmentType.jade
  include ../properties/experienceRequirements.jade
  include ../properties/hiringOrganization.jade
  include ../properties/incentives.jade
  include ../properties/industry.jade
  include ../properties/jobLocation.jade
  include ../properties/occupationalCategory.jade
  include ../properties/qualifications.jade
  include ../properties/responsibilities.jade
  include ../properties/salaryCurrency.jade
  include ../properties/skills.jade
  include ../properties/specialCommitments.jade
  include ../properties/title.jade
  include ../properties/workHours.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade