div.thing.JoinAction
  h1 JoinAction
  p.thing-description
    An agent joins an event/group with participants/friends at a location.<p>Related actions:</p><ul><li><a href="http://schema.org/RegisterAction">RegisterAction</a>: Unlike RegisterAction, JoinAction refers to joining a group/team of people.</li><li><a href="http://schema.org/SubscribeAction">SubscribeAction</a>: Unlike SubscribeAction, JoinAction does not imply that you'll be receiving updates.</li><li><a href="http://schema.org/FollowAction">FollowAction</a>: Unlike FollowAction, JoinAction does not imply that you'll be polling for updates.</li></ul>
    include ../properties/event.jade
  include ../properties/agent.jade
  include ../properties/endTime.jade
  include ../properties/instrument.jade
  include ../properties/location.jade
  include ../properties/object.jade
  include ../properties/participant.jade
  include ../properties/result.jade
  include ../properties/startTime.jade
  include ../properties/actionStatus.jade
  include ../properties/target.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade