div.thing.Ligament
  h1 Ligament
  p.thing-description A short band of tough, flexible, fibrous connective tissue that functions to connect multiple bones, cartilages, and structurally support joints.
  include ../properties/associatedPathophysiology.jade
  include ../properties/bodyLocation.jade
  include ../properties/connectedTo.jade
  include ../properties/diagram.jade
  include ../properties/function.jade
  include ../properties/partOfSystem.jade
  include ../properties/relatedCondition.jade
  include ../properties/relatedTherapy.jade
  include ../properties/subStructure.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade