div.thing.LodgingReservation
  h1 LodgingReservation
  p.thing-description
    A reservation for lodging at a hotel, motel, inn, etc.Note: This type is for information about actual reservations, e.g. in confirmation emails or HTML pages with individual confirmations of reservations.
    include ../properties/checkinTime.jade
  include ../properties/checkoutTime.jade
  include ../properties/lodgingUnitType.jade
  include ../properties/lodgingUnitDescription.jade
  include ../properties/numAdults.jade
  include ../properties/numChildren.jade
  include ../properties/reservationId.jade
  include ../properties/reservationStatus.jade
  include ../properties/reservationFor.jade
  include ../properties/underName.jade
  include ../properties/provider.jade
  include ../properties/bookingAgent.jade
  include ../properties/bookingTime.jade
  include ../properties/modifiedTime.jade
  include ../properties/programMembershipUsed.jade
  include ../properties/reservedTicket.jade
  include ../properties/totalPrice.jade
  include ../properties/priceCurrency.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade