div.thing.MedicalStudy
  h1 MedicalStudy
  p.thing-description A medical study is an umbrella type covering all kinds of research studies relating to human medicine or health, including observational studies and interventional trials and registries, randomized, controlled or not. When the specific type of study is known, use one of the extensions of this type, such as MedicalTrial or MedicalObservationalStudy. Also, note that this type should be used to mark up data that describes the study itself; to tag an article that publishes the results of a study, use MedicalScholarlyArticle. Note: use the code property of MedicalEntity to store study IDs, e.g. clinicaltrials.gov ID.
  include ../properties/outcome.jade
  include ../properties/population.jade
  include ../properties/sponsor.jade
  include ../properties/status.jade
  include ../properties/studyLocation.jade
  include ../properties/studySubject.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade