div.thing.MedicalDevice
  h1 MedicalDevice
  p.thing-description Any object used in a medical capacity, such as to diagnose or treat a patient.
  include ../properties/adverseOutcome.jade
  include ../properties/contraindication.jade
  include ../properties/indication.jade
  include ../properties/postOp.jade
  include ../properties/preOp.jade
  include ../properties/procedure.jade
  include ../properties/purpose.jade
  include ../properties/seriousAdverseOutcome.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade