div.thing.MedicalIntangible
  h1 MedicalIntangible
  p.thing-description A utility class that serves as the umbrella for a number of 'intangible' things in the medical space.
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade