div.thing.MiddleSchool
  h1 MiddleSchool
  p.thing-description A middle school.
  include ../properties/alumni.jade
  include ../properties/address.jade
  include ../properties/aggregateRating.jade
  include ../properties/brand.jade
  include ../properties/contactPoint.jade
  include ../properties/department.jade
  include ../properties/duns.jade
  include ../properties/email.jade
  include ../properties/employee.jade
  include ../properties/event.jade
  include ../properties/faxNumber.jade
  include ../properties/founder.jade
  include ../properties/dissolutionDate.jade
  include ../properties/foundingDate.jade
  include ../properties/globalLocationNumber.jade
  include ../properties/hasPOS.jade
  include ../properties/interactionCount.jade
  include ../properties/isicV4.jade
  include ../properties/legalName.jade
  include ../properties/location.jade
  include ../properties/logo.jade
  include ../properties/makesOffer.jade
  include ../properties/member.jade
  include ../properties/memberOf.jade
  include ../properties/naics.jade
  include ../properties/owns.jade
  include ../properties/review.jade
  include ../properties/seeks.jade
  include ../properties/subOrganization.jade
  include ../properties/taxID.jade
  include ../properties/telephone.jade
  include ../properties/vatID.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade