div.thing.NutritionInformation
  h1 NutritionInformation
  p.thing-description Nutritional information about the recipe.
  include ../properties/calories.jade
  include ../properties/carbohydrateContent.jade
  include ../properties/cholesterolContent.jade
  include ../properties/fatContent.jade
  include ../properties/fiberContent.jade
  include ../properties/proteinContent.jade
  include ../properties/saturatedFatContent.jade
  include ../properties/servingSize.jade
  include ../properties/sodiumContent.jade
  include ../properties/sugarContent.jade
  include ../properties/transFatContent.jade
  include ../properties/unsaturatedFatContent.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade