div.thing.OpeningHoursSpecification
  h1 OpeningHoursSpecification
  p.thing-description A structured value providing information about the opening hours of a place or a certain service inside a place.
  include ../properties/closes.jade
  include ../properties/dayOfWeek.jade
  include ../properties/opens.jade
  include ../properties/validFrom.jade
  include ../properties/validThrough.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade