div.thing.Order
  h1 Order
  p.thing-description An order is a confirmation of a transaction (a receipt), which can contain multiple line items, each represented by an Offer that has been accepted by the customer.
  include ../properties/acceptedOffer.jade
  include ../properties/billingAddress.jade
  include ../properties/confirmationNumber.jade
  include ../properties/customer.jade
  include ../properties/discount.jade
  include ../properties/discountCode.jade
  include ../properties/discountCurrency.jade
  include ../properties/isGift.jade
  include ../properties/merchant.jade
  include ../properties/orderDate.jade
  include ../properties/orderedItem.jade
  include ../properties/orderNumber.jade
  include ../properties/orderStatus.jade
  include ../properties/paymentDue.jade
  include ../properties/paymentMethod.jade
  include ../properties/paymentMethodId.jade
  include ../properties/paymentUrl.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade