div.thing.OwnershipInfo
  h1 OwnershipInfo
  p.thing-description A structured value providing information about when a certain organization or person owned a certain product.
  include ../properties/acquiredFrom.jade
  include ../properties/ownedFrom.jade
  include ../properties/ownedThrough.jade
  include ../properties/typeOfGood.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade