div.thing.ParcelDelivery
  h1 ParcelDelivery
  p.thing-description The delivery of a parcel either via the postal service or a commercial service.
  include ../properties/carrier.jade
  include ../properties/deliveryAddress.jade
  include ../properties/deliveryStatus.jade
  include ../properties/expectedArrivalFrom.jade
  include ../properties/expectedArrivalUntil.jade
  include ../properties/hasDeliveryMethod.jade
  include ../properties/itemShipped.jade
  include ../properties/originAddress.jade
  include ../properties/partOfOrder.jade
  include ../properties/trackingNumber.jade
  include ../properties/trackingUrl.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade