div.thing.PaymentChargeSpecification
  h1 PaymentChargeSpecification
  p.thing-description The costs of settling the payment using a particular payment method.
  include ../properties/appliesToDeliveryMethod.jade
  include ../properties/appliesToPaymentMethod.jade
  include ../properties/eligibleQuantity.jade
  include ../properties/eligibleTransactionVolume.jade
  include ../properties/maxPrice.jade
  include ../properties/minPrice.jade
  include ../properties/price.jade
  include ../properties/validFrom.jade
  include ../properties/validThrough.jade
  include ../properties/valueAddedTaxIncluded.jade
  include ../properties/priceCurrency.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade