div.thing.PeopleAudience
  h1 PeopleAudience
  p.thing-description A set of characteristics belonging to people, e.g. who compose an item's target audience.
  include ../properties/healthCondition.jade
  include ../properties/requiredGender.jade
  include ../properties/requiredMaxAge.jade
  include ../properties/requiredMinAge.jade
  include ../properties/suggestedGender.jade
  include ../properties/suggestedMaxAge.jade
  include ../properties/suggestedMinAge.jade
  include ../properties/audienceType.jade
  include ../properties/geographicArea.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade