div.thing.Person
  h1 Person
  p.thing-description A person (alive, dead, undead, or fictional).
  include ../properties/additionalName.jade
  include ../properties/address.jade
  include ../properties/affiliation.jade
  include ../properties/alumniOf.jade
  include ../properties/award.jade
  include ../properties/birthDate.jade
  include ../properties/brand.jade
  include ../properties/children.jade
  include ../properties/colleague.jade
  include ../properties/contactPoint.jade
  include ../properties/deathDate.jade
  include ../properties/duns.jade
  include ../properties/email.jade
  include ../properties/familyName.jade
  include ../properties/faxNumber.jade
  include ../properties/follows.jade
  include ../properties/gender.jade
  include ../properties/givenName.jade
  include ../properties/globalLocationNumber.jade
  include ../properties/hasPOS.jade
  include ../properties/homeLocation.jade
  include ../properties/honorificPrefix.jade
  include ../properties/honorificSuffix.jade
  include ../properties/interactionCount.jade
  include ../properties/isicV4.jade
  include ../properties/jobTitle.jade
  include ../properties/knows.jade
  include ../properties/makesOffer.jade
  include ../properties/memberOf.jade
  include ../properties/naics.jade
  include ../properties/nationality.jade
  include ../properties/owns.jade
  include ../properties/parent.jade
  include ../properties/performerIn.jade
  include ../properties/relatedTo.jade
  include ../properties/seeks.jade
  include ../properties/sibling.jade
  include ../properties/spouse.jade
  include ../properties/taxID.jade
  include ../properties/telephone.jade
  include ../properties/vatID.jade
  include ../properties/workLocation.jade
  include ../properties/worksFor.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade