div.thing.Pharmacy
  h1 Pharmacy
  p.thing-description A pharmacy or drugstore.
  include ../properties/branchOf.jade
  include ../properties/currenciesAccepted.jade
  include ../properties/openingHours.jade
  include ../properties/paymentAccepted.jade
  include ../properties/priceRange.jade
  include ../properties/address.jade
  include ../properties/aggregateRating.jade
  include ../properties/brand.jade
  include ../properties/contactPoint.jade
  include ../properties/department.jade
  include ../properties/duns.jade
  include ../properties/email.jade
  include ../properties/employee.jade
  include ../properties/event.jade
  include ../properties/faxNumber.jade
  include ../properties/founder.jade
  include ../properties/dissolutionDate.jade
  include ../properties/foundingDate.jade
  include ../properties/globalLocationNumber.jade
  include ../properties/hasPOS.jade
  include ../properties/interactionCount.jade
  include ../properties/isicV4.jade
  include ../properties/legalName.jade
  include ../properties/location.jade
  include ../properties/logo.jade
  include ../properties/makesOffer.jade
  include ../properties/member.jade
  include ../properties/memberOf.jade
  include ../properties/naics.jade
  include ../properties/owns.jade
  include ../properties/review.jade
  include ../properties/seeks.jade
  include ../properties/subOrganization.jade
  include ../properties/taxID.jade
  include ../properties/telephone.jade
  include ../properties/vatID.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade
  include ../properties/address.jade
  include ../properties/aggregateRating.jade
  include ../properties/containedIn.jade
  include ../properties/event.jade
  include ../properties/faxNumber.jade
  include ../properties/geo.jade
  include ../properties/globalLocationNumber.jade
  include ../properties/interactionCount.jade
  include ../properties/isicV4.jade
  include ../properties/logo.jade
  include ../properties/hasMap.jade
  include ../properties/openingHoursSpecification.jade
  include ../properties/photo.jade
  include ../properties/review.jade
  include ../properties/telephone.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade