div.thing.Pond
  h1 Pond
  p.thing-description A pond
  include ../properties/address.jade
  include ../properties/aggregateRating.jade
  include ../properties/containedIn.jade
  include ../properties/event.jade
  include ../properties/faxNumber.jade
  include ../properties/geo.jade
  include ../properties/globalLocationNumber.jade
  include ../properties/interactionCount.jade
  include ../properties/isicV4.jade
  include ../properties/logo.jade
  include ../properties/hasMap.jade
  include ../properties/openingHoursSpecification.jade
  include ../properties/photo.jade
  include ../properties/review.jade
  include ../properties/telephone.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade