div.thing.PropertyValueSpecification
  h1 PropertyValueSpecification
  p.thing-description
    A Property value specification.
    include ../properties/maxValue.jade
  include ../properties/minValue.jade
  include ../properties/valueName.jade
  include ../properties/valueRequired.jade
  include ../properties/defaultValue.jade
  include ../properties/readonlyValue.jade
  include ../properties/multipleValues.jade
  include ../properties/valueMinLength.jade
  include ../properties/valueMaxLength.jade
  include ../properties/valuePattern.jade
  include ../properties/stepValue.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade