div.thing.QuantitativeValue
  h1 QuantitativeValue
  p.thing-description  A point value or interval for product characteristics and other purposes.
  include ../properties/maxValue.jade
  include ../properties/minValue.jade
  include ../properties/unitCode.jade
  include ../properties/value.jade
  include ../properties/valueReference.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade