div.thing.RadiationTherapy
  h1 RadiationTherapy
  p.thing-description A process of care using radiation aimed at improving a health condition.
  include ../properties/adverseOutcome.jade
  include ../properties/contraindication.jade
  include ../properties/duplicateTherapy.jade
  include ../properties/indication.jade
  include ../properties/seriousAdverseOutcome.jade
  include ../properties/alternateName.jade
  include ../properties/code.jade
  include ../properties/guideline.jade
  include ../properties/medicineSystem.jade
  include ../properties/recognizingAuthority.jade
  include ../properties/relevantSpecialty.jade
  include ../properties/study.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade