div.thing.Rating
  h1 Rating
  p.thing-description The rating of the video.
  include ../properties/bestRating.jade
  include ../properties/ratingValue.jade
  include ../properties/worstRating.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade