div.thing.ReceiveAction
  h1 ReceiveAction
  p.thing-description
    The act of physically/electronically taking delivery of an object thathas been transferred from an origin to a destination. Reciprocal of SendAction.<p>Related actions:</p><ul><li><a href="http://schema.org/SendAction">SendAction</a>: The reciprocal of ReceiveAction.</li><li><a href="http://schema.org/TakeAction">TakeAction</a>: Unlike TakeAction, ReceiveAction does not imply that the ownership has been transfered (e.g. I can receive a package, but it does not mean the package is now mine).</li></ul>
    include ../properties/deliveryMethod.jade
  include ../properties/sender.jade
  include ../properties/fromLocation.jade
  include ../properties/toLocation.jade
  include ../properties/agent.jade
  include ../properties/endTime.jade
  include ../properties/instrument.jade
  include ../properties/location.jade
  include ../properties/object.jade
  include ../properties/participant.jade
  include ../properties/result.jade
  include ../properties/startTime.jade
  include ../properties/actionStatus.jade
  include ../properties/target.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade