div.thing.ReplyAction
  h1 ReplyAction
  p.thing-description
    The act of responding to a question/message asked/sent by the object. Related to <a href="AskAction">AskAction</a>.<p>Related actions:</p><ul><li><a href="http://schema.org/AskAction">AskAction</a>: Appears generally as an origin of a ReplyAction.</li></ul>
    include ../properties/about.jade
  include ../properties/language.jade
  include ../properties/recipient.jade
  include ../properties/agent.jade
  include ../properties/endTime.jade
  include ../properties/instrument.jade
  include ../properties/location.jade
  include ../properties/object.jade
  include ../properties/participant.jade
  include ../properties/result.jade
  include ../properties/startTime.jade
  include ../properties/actionStatus.jade
  include ../properties/target.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade