div.thing.Seat
  h1 Seat
  p.thing-description
    Used to describe a seat, such as a reserved seat in an event reservation.
    include ../properties/seatNumber.jade
  include ../properties/seatRow.jade
  include ../properties/seatSection.jade
  include ../properties/seatingType.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade