div.thing.ServiceChannel
  h1 ServiceChannel
  p.thing-description A means for accessing a service, e.g. a government office location, web site, or phone number.
  include ../properties/availableLanguage.jade
  include ../properties/processingTime.jade
  include ../properties/providesService.jade
  include ../properties/serviceLocation.jade
  include ../properties/servicePhone.jade
  include ../properties/servicePostalAddress.jade
  include ../properties/serviceSmsNumber.jade
  include ../properties/serviceUrl.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade