div.thing.TaxiReservation
  h1 TaxiReservation
  p.thing-description
    A reservation for a taxi.Note: This type is for information about actual reservations, e.g. in confirmation emails or HTML pages with individual confirmations of reservations. For offers of tickets, use http://schema.org/Offer.
    include ../properties/reservationId.jade
  include ../properties/reservationStatus.jade
  include ../properties/reservationFor.jade
  include ../properties/underName.jade
  include ../properties/provider.jade
  include ../properties/bookingAgent.jade
  include ../properties/bookingTime.jade
  include ../properties/modifiedTime.jade
  include ../properties/programMembershipUsed.jade
  include ../properties/reservedTicket.jade
  include ../properties/totalPrice.jade
  include ../properties/priceCurrency.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade