div.thing.TechArticle
  h1 TechArticle
  p.thing-description A technical article - Example: How-to (task) topics, step-by-step, procedural troubleshooting, specifications, etc.
  include ../properties/dependencies.jade
  include ../properties/proficiencyLevel.jade
  include ../properties/articleBody.jade
  include ../properties/articleSection.jade
  include ../properties/wordCount.jade
  include ../properties/about.jade
  include ../properties/accessibilityAPI.jade
  include ../properties/accessibilityControl.jade
  include ../properties/accessibilityFeature.jade
  include ../properties/accessibilityHazard.jade
  include ../properties/accountablePerson.jade
  include ../properties/aggregateRating.jade
  include ../properties/alternativeHeadline.jade
  include ../properties/associatedMedia.jade
  include ../properties/audience.jade
  include ../properties/audio.jade
  include ../properties/author.jade
  include ../properties/award.jade
  include ../properties/citation.jade
  include ../properties/comment.jade
  include ../properties/contentLocation.jade
  include ../properties/contentRating.jade
  include ../properties/contributor.jade
  include ../properties/copyrightHolder.jade
  include ../properties/copyrightYear.jade
  include ../properties/creator.jade
  include ../properties/dateCreated.jade
  include ../properties/dateModified.jade
  include ../properties/datePublished.jade
  include ../properties/discussionUrl.jade
  include ../properties/editor.jade
  include ../properties/educationalAlignment.jade
  include ../properties/educationalUse.jade
  include ../properties/encoding.jade
  include ../properties/genre.jade
  include ../properties/headline.jade
  include ../properties/inLanguage.jade
  include ../properties/interactionCount.jade
  include ../properties/interactivityType.jade
  include ../properties/isBasedOnUrl.jade
  include ../properties/isFamilyFriendly.jade
  include ../properties/keywords.jade
  include ../properties/license.jade
  include ../properties/learningResourceType.jade
  include ../properties/mentions.jade
  include ../properties/offers.jade
  include ../properties/publisher.jade
  include ../properties/publishingPrinciples.jade
  include ../properties/review.jade
  include ../properties/sourceOrganization.jade
  include ../properties/text.jade
  include ../properties/thumbnailUrl.jade
  include ../properties/timeRequired.jade
  include ../properties/typicalAgeRange.jade
  include ../properties/version.jade
  include ../properties/video.jade
  include ../properties/provider.jade
  include ../properties/commentCount.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade