div.thing.TypeAndQuantityNode
  h1 TypeAndQuantityNode
  p.thing-description A structured value indicating the quantity, unit of measurement, and business function of goods included in a bundle offer.
  include ../properties/amountOfThisGood.jade
  include ../properties/businessFunction.jade
  include ../properties/typeOfGood.jade
  include ../properties/unitCode.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade