div.thing.Vehicle
  h1 Vehicle
  p.thing-description
    A vehicle.
    include ../properties/aggregateRating.jade
  include ../properties/audience.jade
  include ../properties/brand.jade
  include ../properties/color.jade
  include ../properties/depth.jade
  include ../properties/gtin13.jade
  include ../properties/gtin14.jade
  include ../properties/gtin8.jade
  include ../properties/height.jade
  include ../properties/isAccessoryOrSparePartFor.jade
  include ../properties/isConsumableFor.jade
  include ../properties/isRelatedTo.jade
  include ../properties/isSimilarTo.jade
  include ../properties/itemCondition.jade
  include ../properties/logo.jade
  include ../properties/manufacturer.jade
  include ../properties/model.jade
  include ../properties/mpn.jade
  include ../properties/offers.jade
  include ../properties/productID.jade
  include ../properties/releaseDate.jade
  include ../properties/review.jade
  include ../properties/sku.jade
  include ../properties/weight.jade
  include ../properties/width.jade
  include ../properties/additionalType.jade
  include ../properties/alternateName.jade
  include ../properties/description.jade
  include ../properties/image.jade
  include ../properties/name.jade
  include ../properties/sameAs.jade
  include ../properties/url.jade
  include ../properties/potentialAction.jade